{{ form_row(form.difficulte) }}<br />
<div>
    {{ form_label(form.denivele) }}
    {{ form_errors(form.denivele) }}
    {{ form_widget(form.denivele) }} m
</div><br />
<div>
    {{ form_label(form.distance) }}
    {{ form_errors(form.distance) }}
    {{ form_widget(form.distance) }} km
</div><br />
