{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    {% if commission %}[{{ commission }}]{% endif %}[Responsabilité ajoutée] {{ right_name }}
{%- endblock %}

{% block inner_html %}
    <p>
        La responsabilité "{{ right_name }}" vient d'être ajoutée à {{ user_name }}{% if by_who %} par {{ by_who }}{% endif %}{% if commission %} sur la commission "{{ commission }}"{% endif %}.
    </p>
{% endblock %}

{% block inner_txt %}
    La responsabilité "{{ right_name }}" vient d'être ajoutée à {{ user_name }}{% if by_who %} par {{ by_who }}{% endif %}{% if commission %} sur la commission "{{ commission }}"{% endif %}.
{% endblock %}
