{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    {% if commission %}[{{ commission }}]{% endif %}[Message] {{ contact_shortname }} : {{ contact_objet }}
{%- endblock %}

{% block inner_html %}
    <p>
        Un visiteur du site vous a contacté :
    </p>
    <ul>
        <li><b>Nom :</b> <a href="{{ contact_url }}">{{ contact_name }}</a></li>
        <li><b>Email :</b> <a href="mailto:{{ contact_email }}">{{ contact_email }}</a></li>
        <li><b>Objet :</b> {{ contact_objet }}</li>
    </ul>
    <p>
        <b>Message :</b>
        {{ message | converturls | nl2br }}
    </p>
    {% if eventName %}
        <p>
            Ce message vous a été envoyé depuis <a href="{{ eventLink }}">{{ eventName }}</a>.
        </p>
    {% elseif articleTitle %}
        <p>
            Ce message vous a été envoyé depuis <a href="{{ articleLink }}">{{ articleTitle }}</a>.
        </p>
    {% endif %}
{% endblock %}

{% block inner_txt %}
Un visiteur du site vous a contacté :

Nom : {{ contact_name }} ({{ contact_url }})
Email : {{ contact_email }}
Objet : {{ contact_objet }}

Message : {{ message }}

{% if eventName %}
    Ce message vous a été envoyé depuis {{ eventName }}.
{% elseif articleTitle %}
    Ce message vous a été envoyé depuis {{ articleTitle }}.
{% endif %}
{% endblock %}
