{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    Vous êtes responsable d'une sortie à venir
{%- endblock %}

{% block inner_html %}
    <p>
        Vous êtes (co-)encadrant de la sortie <a href={{ event_url }}>{{ event_name }}</a>. Les inscriptions ont été cloturées.
    </p>
    <p>
        Imprimez au besoin <a href={{ event_fiche }}>la fiche de sortie</a> et <a href="{{ dest_fiche }}">la fiche de destination</a>.
    </p>
{% endblock %}

{% block inner_txt %}
Vous êtes (co-)encadrant de la sortie {{ event_name }} ({{ event_url }}). Les inscriptions ont été cloturées.

Imprimez au besoin la fiche de sortie ({{ event_fiche }}) et la fiche de destination ({{ dest_fiche }}).
{% endblock %}
