{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    Votre note de frais {% if report.event %}pour "{{ report.event.titre }}"{% endif %} a été acceptée
{%- endblock %}

{% block inner_html %}
    <p>
        Votre note de frais {% if report.event %}pour <a href="{{ url('sortie', {code: report.event.code, id: report.event.id}) }}">"{{ report.event.titre }}"</a>{% endif %} a été traitée et est désormais acceptée.
    </p>
    <ul>
        <li>Encadrant.e: {{ report.user.firstname }} {{ report.user.lastname }} </li>
        {% if report.createdAt %}<li>Date: {{ report.createdAt | date('d-m-Y') }} </li>{% endif %}
        <li>Type: {% if report.refundRequired %}Demande de remboursement par virement{% else %}Abandon de frais{% endif %}</li>
        {% if report.details %}<li>Details: {{ report.details }} </li>{% endif %}
    </ul>
{% endblock %}

{% block inner_txt %}
Votre note de frais {% if report.event %}pour "{{ report.event.titre }}" ({{ url('sortie', {code: report.event.code, id: report.event.id}) }}){% endif %} a été traitée et est désormais acceptée.

 - Encadrant.e: {{ report.user.firstname }} {{ report.user.lastname }}
{% if report.createdAt %} - Date: {{ report.createdAt | date('d-m-Y') }}{% endif %}
Type: {% if report.refundRequired %}Demande de remboursement par virement{% else %}Abandon de frais{% endif %}
{% if report.details %}Details: {{ report.details }}{% endif %}
{% endblock %}
