{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}

    {{ prefix }}[{{ entity.commission.title }}] {{ entity.titre }} / {{ entity.eventStartDate | intldate('cccc d MMMM') }}

{%- endblock %}

{% block rappel_objet 'Nouvelle sortie: ' ~ entity.titre ~ ' / ' ~ entity.eventStartDate | intldate('cccc d MMMM') %}

{% block inner_html %}
    <p>
        Une nouvelle sortie <a href="{{ url('sortie', {code: entity.code, id: entity.id}) }}">"{{ entity.titre }}"</a> vient d'être publiée sur le site du {{ site }} dans la commission <b>{{ entity.commission.title }}</b>.
    </p>
    <p>
        Vous pouvez gérer vos alertes depuis <a href="{{ url('profil_alertes') }}">votre espace "mes alertes"</a>.
    </p>
{% endblock %}

{% block inner_txt %}
    Une nouvelle sortie "{{ entity.titre }}" vient d'être publiée sur le site du {{ site }} dans la commission {{ entity.commission.title }}.
    Voir la sortie ({{ url('sortie', {code: entity.code, id: entity.id}) }}).

    Vous pouvez gérer vos alertes depuis votre espace "mes alertes" ({{ url('profil_alertes') }}).
{% endblock %}
