{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}

    {{ prefix }}[{{ entity.commission.title }}] {{ entity.titre }} / {{ entity.tsp | intldate('cccc d MMMM') }}

{%- endblock %}

{% block rappel_objet 'Nouvelle sortie: ' ~ entity.titre ~ ' / ' ~ entity.tsp | intldate('cccc d MMMM') %}

{% block inner_html %}
    <p>
        Une nouvelle sortie <a href="{{ entity_url }}">"{{ entity.titre }}"</a> vient d'être publiée sur le site du {{ site }} dans la commission <b>{{ entity.commission.title }}</b>.
    </p>
    <p>
        Vous pouvez gérer vos alertes depuis <a href="{{ profil_alertes_url }}">votre espace "mes alertes"</a>.
    </p>
{% endblock %}

{% block inner_txt %}
    Une nouvelle sortie "{{ entity.titre }}" vient d'être publiée sur le site du {{ site }} dans la commission {{ entity.commission.title }}.
    Voir la sortie ({{ entity_url }}).

    Vous pouvez gérer vos alertes depuis votre espace "mes alertes" ({{ profil_alertes_url }}).
{% endblock %}
