{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    {{ sorties | length }} sortie{{ sorties | length > 1 ? 's' : '' }} à valider
{%- endblock %}

{% block inner_html %}
    <h1>{{ sorties | length }} sortie{{ sorties | length > 1 ? 's' : '' }} à valider</h1>
    <p>
        Vous êtes responsable de commission, et il y a {{ sorties | length }} sortie{{ sorties | length > 1 ? 's' : '' }} en attente de publication sur le site du {{ sitename }}.
    </p>
    <p>
        Prenez soin de vous rendre sur <a href="{{ url('legacy_root') }}gestion-des-sorties.html">votre page de gestion</a>,
        et de vérifier attentivement toutes les informations liées à chaque sortie en attente de publication.
    </p>
    <p>
        Vous disposez d'un accès réservé à chaque fiche évènement avant la publication.
    </p>
    <h2>Sorties en attente :</h2>
    <ul>
        {% for sortie in sorties %}
            <li><a href="{{ sortie.url }}">{{ sortie.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block inner_txt %}
    {{ sorties | length }} sortie{{ sorties | length > 1 ? 's' : '' }} à valider.

    Vous êtes responsable de commission, et il y a {{ sorties | length }} sortie{{ sorties | length > 1 ? 's' : '' }} en attente de publication sur le site du {{ sitename }}.

    Prenez soin de vous rendre sur votre page de gestion [{{ url('legacy_root') }}gestion-des-sorties.html],
    et de vérifier attentivement toutes les informations liées à chaque sortie en attente de publication.

    Vous disposez d'un accès réservé à chaque fiche évènement avant la publication.

    Sorties en attente :
    {% for sortie in sorties %}
        - {{ sortie.name }}[sortie.url]
    {% endfor %}
{% endblock %}
