{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    {{ sorties | length }} sortie{{ sorties | length > 1 ? 's' : '' }} à publier
{%- endblock %}

{% block inner_html %}
    <p>
        Vous êtes responsable de commission, et il y a {{ sorties | length }} sortie{{ sorties | length > 1 ? 's' : '' }} en attente d'approbation.
    </p>
    <p>
        Prenez soin de vous rendre sur <a href="{{ manage_events_url }}">votre page de gestion</a>,
        et de vérifier attentivement toutes les informations liées à chaque sortie en attente d'approbation.
    </p>
    <p>
        Vous disposez d'un accès réservé à chaque page de sortie avant la publication.
    </p>
    <h2>Sorties en attente :</h2>
    <ul>
        {% for sortie in sorties %}
            <li><a href="{{ sortie.url }}">{{ sortie.titre }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block inner_txt %}
    Vous êtes responsable de commission, et il y a {{ sorties | length }} sortie{{ sorties | length > 1 ? 's' : '' }} en attente d'approbation.

    Prenez soin de vous rendre sur votre page de gestion [{{ manage_events_url }}],
    et de vérifier attentivement toutes les informations liées à chaque sortie en attente d'approbation.

    Vous disposez d'un accès réservé à chaque page de sortie avant la publication.

    Sorties en attente :
    {% for sortie in sorties %}
        - {{ sortie.titre }}[{{ sortie.url }}]
    {% endfor %}
{% endblock %}
