{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    Votre sortie a été validée par le président
{%- endblock %}

{% block inner_html %}
    <p>
        Félicitations, votre sortie <a href="{{ event_url }}">{{ event_name }}</a>,
        prévue pour le {{ event_date }} a été validée.
    </p>
{% endblock %}

{% block inner_txt %}
Félicitations, votre sortie {{ event_name }} ({{ event_url }}),
prévue pour le {{ event_date}} a été validée.
{% endblock %}
