{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    {% if commission %}[{{ commission }}]{% endif %}[MàJ] {{ event_name }} du {{ event_date }}
{%- endblock %}

{% block inner_html %}
    <p>
        La sortie <a href="{{ event_url }}" title="">{{ event_name }}</a> a été modifiée.<br>
        Nous vous invitons à consulter les modifications.
    </p>
{% endblock %}

{% block inner_txt %}
    La sortie {{ event_name }} ({{ event_url }}) a été modifiée.
    Nous vous invitons à consulter les modifications.
{% endblock %}
