{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    Désinscription avec paiement en ligne
{%- endblock %}

{% block inner_html %}
    <p>
        Un(e) participant(e) ayant payé en ligne vient de se désinscrire
        de la sortie <a href="{{ event_url }}">{{ event_name }}</a>.
    </p>
    <p>
        Merci de prendre contact avec l'encadrant.
        <br />
        La gestion du paiement (modification/remboursement) se passe sur <a href="https://paiement.systempay.fr/vads-merchant/">https://paiement.systempay.fr/vads-merchant/</a>.
    </p>
    <p>
        Informations supplémentaires :<br />
    <ul>
        <li>Transaction : {{ event_name }} du {{ event_date }} - {{ adherent }}</li>
        <li>Sortie : {{ event_name }} du {{ event_date }}</li>
        <li>Montant : {{ event_tarif }}</li>
        <li>Adhérent : {{ adherent }} / {{ caf_num }}</li>
        <li>Endadrant : {{ encadrant_name }} / {{ encadrant_email }}</li>
    </ul>
{% endblock %}

{% block inner_txt %}
    Un(e) participant(e) ayant payé en ligne vient de se désinscrire
    de la sortie {{ event_name }} ({{ event_url }}).

    Merci de prendre contact avec l'encadrant.
    La gestion du paiement (modification/remboursement) se passe sur https://paiement.systempay.fr/vads-merchant/.

    Informations supplémentaires :

        - Transaction : {{ event_name }} du {{ event_date }} - {{ adherent }}
        - Sortie : {{ event_name }} du {{ event_date }}
        - Montant : {{ event_tarif }}
        - Adhérent : {{ adherent }} / {{ caf_num }}
        - Endadrant : {{ encadrant_name }} / {{ encadrant_email }}
{% endblock %}
