{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    {% if commission %}[{{ commission }}]{% endif %}[Demande] Préinscription à {{ event_name }} du {{ event_date }}
{%- endblock %}

{% block inner_html %}
    <p>
        {% if inscrits|length > 1 %}
            Vous venez de préinscrire plusieurs personnes
        {% else %}
        Vous venez de vous préinscrire
        {% endif %}
        à la sortie <a href="{{ event_url }}">{{ event_name }}</a>.
    </p>
    <p>
        <b>Participant{{ inscrits|length > 1 ? 's' : ''}} :</b>
    </p>
    <ul>
    {% for inscrit in inscrits %}
        <li>
            <b>Nom :</b> {{ inscrit.firstname }} {{ inscrit.lastname }}
        </li>
    {% endfor %}
    </ul>
    <ul>
        <li>
            <b>Rôle :</b> {{ role }}
        </li>
    </ul>
    <p>
        Les responsables de cette sortie ont été prévenus de votre demande et sont en charge de la confirmation
        ou non de votre participation. Vous serez averti par e-mail quand votre participation sera confirmée.
    </p>
{% endblock %}

{% block inner_txt %}
    {% if inscrits|length > 1 %}
        Vous venez de préinscrire plusieurs personnes
    {% else %}
        Vous venez de vous préinscrire
    {% endif %}
    à la sortie <a href="{{ event_url }}">{{ event_name }}</a>.

    Participant{{ inscrits|length > 1 ? 's' : ''}} :

{% for inscrit in inscrits %}
    Nom : {{ inscrit.firstname }} {{ inscrit.lastname }}
{% endfor %}

    Rôle : {{ role }}

    Les responsables de cette sortie ont été prévenus de votre demande et sont en charge de la confirmation
    ou non de votre participation. Vous serez averti par e-mail quand votre participation sera confirmée.
{% endblock %}
