{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    {% if commission %}[{{ commission }}]{% endif %}[Désinscription] {{ username }} pour {{ event_name }} du {{ event_date }}
{%- endblock %}

{% block inner_html %}
    <p>
        {{ username }} était acceptée(e) ou en attente pour la sortie <a href="{{ event_url }}">{{ event_name }}</a>.
        Il(elle) vient d'annuler sa participation.
    </p>
    <p>
        Plus d'infos : {{ reason_explanation }}
    </p>
    <ul>
        <li><b>Pseudo : </b> <a href="{{ profile_url }}">{{ user.nickname }}</a></li>
        <li><b>Email : </b> {{ user.email }}</li>
    </ul>
{% endblock %}

{% block inner_txt %}
    {{ username }} était acceptée(e) ou en attente pour la sortie {{ event_name }} ({{ event_url }}).
    Il(elle) vient d'annuler sa participation.

    Plus d'infos : {{ reason_explanation }}
      - Pseudo : {{ user.nickname }}
      - Email : {{ user.email }}
      - Profil : {{ profile_url }}
{% endblock %}
