{% extends format == 'html' ? 'email/transactional/layout.html.twig' : 'email/transactional/layout.txt.twig' %}

{% block subject -%}
    {% if commission %}[{{ commission }}]{% endif %}[{{ inscrits | length  }} nouvelle{{ inscrits|length > 1 ? 's' : '' }} demande{{ inscrits|length > 1 ? 's' : '' }}] Préinscription à {{ event_name }} du {{ event_date }}
{%- endblock %}

{% block inner_html %}
    <p>
        {{ inscrits|length }} adhérent{{ inscrits|length > 1 ? 's' : '' }} {{ inscrits|length > 1 ? 'viennent' : 'vient' }} de se préinscrire
        à la sortie <a href="{{ event_url }}">{{ event_name }}</a>
    </p>
    <ul>
        {% for inscrit in inscrits %}
            <li>
                <b>Nom :</b> <a href="{{ inscrit.profile_url }}">{{ inscrit.firstname }} {{ inscrit.lastname }}</a>
            </li>
        {% endfor %}
        <li>
            <b>Rôle :</b> {{ role }}
        </li>
        {% if message %}
        <li>
            <b>Message :</b> {{ message }}
        </li>
        {% endif %}
    </ul>
    {% if auto_accept %}
        <p>
            Comme vous l'avez paramétré, {{ inscrits|length > 1 ? 'les ' : 'l\'' }}adhérent{{ inscrits|length > 1 ? 's ont' : ' a' }} été accepté{{ inscrits|length > 1 ? 's' : '' }} automatiquement.
        </p>
    {% endif %}
    <p>
        Vous recevez ce message car vous êtes {{ dest_role }} sur cette sortie.
    </p>
{% endblock %}

{% block inner_txt %}
    {{ inscrits|length }} adhérent{{ inscrits|length > 1 ? 's' : '' }} {{ inscrits|length > 1 ? 'viennent' : 'vient' }} de se préinscrire
    à la sortie {{ event_name }} ({{ event_url }}).

    {% for inscrit in inscrits %}
        Nom : {{ inscrit.firstname }} {{ inscrit.lastname }} - {{ inscrit.profile_url }}
    {% endfor %}

    Rôle : {{ role }}

    {% if message %}
        Message : {{ message }}
    {% endif %}

    {% if auto_accept %}
        Comme vous l'avez paramétré, {{ inscrits|length > 1 ? 'les ' : 'l\'' }}adhérent{{ inscrits|length > 1 ? 's ont' : ' a' }} été accepté{{ inscrits|length > 1 ? 's' : '' }} automatiquement.
    {% endif %}

    Vous recevez ce message car vous êtes {{ dest_role }} sur cette sortie.
{% endblock %}
