{% extends 'base.html.twig' %}

{% block title %}Mes sorties{% endblock %}

{% block body %}
    {% import 'macros/event-line.html.twig' as event_macro %}
    <div class="main-type">
        <h1>Profil : mes sorties</h1>
        {{ easy_include(include_name, '')}}

        {% if events | length == 0 %}
            <p class="info" style="margin-top: 15px;">Vous n'avez pas encore de sortie à afficher ici.</p>
        {% else %}
            <p class="mini" style="margin-top: 15px;">{{ total }} sortie{{ total > 1 ? 's' : '' }}</p>
        {% endif %}

        <table id="agenda">
            {% for item in events %}
                {% if item is iterable and item.0 is defined %}
                    {% set event = item.0 %}
                    {% set exp_status = item.exp_status|default(null) %}
                {% else %}
                    {% set event = item %}
                    {% set exp_status = null %}
                {% endif %}

                {{ event_macro.event_line(event, app.user, include_name, true, exp_status, null, true, display_notes_de_frais) }}
            {% endfor %}
        </table>

        {% if total > per_page %}
            <hr /><nav class="pageSelect">
            {% for i in 1..pages %}
                <a href="{{ page_url }}?page={{ i }}" title="" class="{{ page == i ? 'up' : '' }}">p{{ i }}</a> {{ i < pages ? ' ' : '' }}
            {% endfor %}
            </nav>
        {% endif %}
    </div>
{% endblock %}
