<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    {{ vite_entry_link_tags('admin-login') }}
</head>
<body style="text-align:center;">
    <a id="logo" href="/" title="{{ db_content('logo-title') }}">
        <img src="{{ db_content('logo-img-src') }}" alt="{{ db_content('logo-title') }}" title="{{ db_content('logo-title') }}" />
    </a>    
    {% if error is defined %}
        <div class="erreur" style="width:400px;margin:30px auto;text-align:center;padding: 10px; border: 1px solid red;">
            {{ error }}
        </div>
    {% endif %}
    <form action="{{ path('admin_login') }}" method="post" style="" class="bloc">
        <input
                type="text"
                style="width:240px;height:17px;background:#34383c;border:1px solid #34383c;padding:3px;margin:0px 0px 3px 0px; color:#a7a7a7"
                name="username" placeholder="Votre identifiant" />
        <br />
        <input
                type="password"
                style="width:207px;height:17px;background:#34383c;border:1px solid #34383c;padding:3px;margin:0px 0px 3px 0px; color:#a7a7a7"
                name="password"
                placeholder="Votre mot de passe" />
        
        {% set CSRF_ADMIN_TOKEN_ID = constant('App\\Security\\SecurityConstants::CSRF_ADMIN_TOKEN_ID') %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token(CSRF_ADMIN_TOKEN_ID) }}">
        <input type="submit" name="admin_connect" value="OK"/>
        <br />
        <a href="/" title="" style="font-size: 0.6rem;color:#a7a7a7;text-decoration:none">Retour</a>
    </form>
</body>
</html>
