{% extends 'base-wide.html.twig' %}

{% set is_dev = false %}
{% if app.user.hasAttribute(constant('App\\Entity\\UserAttr::DEVELOPPEUR')) %}
    {% set is_dev = true %}
{% endif %}

{% block title %}Matrice des droits{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        code {
            background-color: #f9f2f4;
            border-radius: 4px;
            color: #c7254e;
            padding: 2px 4px;
            font-family: Menlo,Monaco,Consolas,Lucida Console,monospace;
        }
        body {font-size: 0.8rem !important;}
    </style>
{% endblock %}

{% block body %}
    <h1>Matrice des droits</h1>
    <p>
        Définit quel type d'adhérent est autorisé à quelles actions.
    </p>
    <br />

    <form style="background:white; padding:10px;" action="{{ path('admin_user_right_matrix') }}" method="post" onsubmit="return(confirm('Ces valeurs vont remplacer les valeurs existantes, OK ?'))">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('right_matrix_update') }}" />
        <table class="user-right-edit-table">
            <thead>
                <tr>
                    <th></th>
                    {% for type in usertypes %}
                        <th>
                            {{ type.title }}
                            {% if is_dev %}
                                <br/><code>{{ type.code }}</code>
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for group, rights in grouped_rights %}
                    <tr><td colspan="{{ usertypes|length + 1 }}"><b>{{ group }}</b></td></tr>
                    {% for right in rights %}
                        <tr class="rightline">
                            <td class="left">
                                <span>{{ right.title }}</span>
                                {% if is_dev %}
                                    <br/><code>{{ right.code }}</code>
                                {% endif %}
                                <input type="text" value="{{ right.code }}" />
                            </td>
                            {% for type in usertypes %}
                                {% set key = type.id ~ '-' ~ right.id %}
                                {% set is_on = false %}
                                {% if key in attributions %}
                                    {% set is_on = true %}
                                {% endif %}
                                <td class="toggle {{ is_on ? 'true' : 'false' }}">
                                    <input {{ is_on ? '' : 'disabled="disabled"' }} type="hidden" name="usertype_attr[]" value="{{ type.id }}-{{ right.id }}" />
                                    <span class="clair">{{ type.title }}</span>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <br />
        <input type="submit" value="Enregistrer la matrice dans cet état" class="nice" />
    </form>
    <br /><br /><br /><br />
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $().ready(function(){
            // change attribution
            $('.user-right-edit-table td.toggle').click(function(){
                $(this)	.toggleClass('edited')
                    .toggleClass('false')
                    .toggleClass('true');

                if($(this).hasClass('true'))	$(this).find('input').removeAttr('disabled');
                else							$(this).find('input').attr('disabled', 'disabled');
            });
        });
    </script>
{% endblock %}
