{% macro article_link(article) %}
    {% set url = path('article_view', {'id': article.id, 'code': article.code}) %}
    {% set img = '' %}
    {% if article.mediaUpload and article.mediaUpload.id %}
        {% set img = media_thumbnail(article.mediaUpload, 'min_thumbnail') %}
    {% endif %}
    <div class="encart_article_small">
        <!-- image -->
        <a target="_top" title="Voir cet article" href="{{ url }}" class="illustration fader" style="background-image:url({{ img }})"></a>

        <!-- titre + lien article -->
        <h2>
            <a target="_top" href="{{ url }}" title="Voir cet article">
                {{article.titre}}
            </a>
        </h2>
        <!-- summup -->
        <p class="summup">
            {% set limit = 150 %}
            {% set text = article.cont|striptags %}
            {{ text|raw|slice(0, limit) }}

            {% if text|length > limit %}
                <a target="_top" href="{{ url }}" title="Voir cet article">
                    [...]
                </a>
            {% endif %}
        </p>
        <br style="clear:both" />
    </div>
{% endmacro %}
