{% macro user_content(user, nb_articles, user_articles, nb_events, user_events, type = 'full', common_events = [], nb_common_events = 0) %}
    {% import 'macros/article-link.html.twig' as article_macro %}
    {% import 'macros/event-line.html.twig' as event_macro %}

    <h2 id="user-sorties">
        {% if type is same as ('reduced') %}
            Dernières sorties :
        {% else %}
            Ses sorties :
        {% endif %}
    </h2>
    <p class="mini">{{ nb_events }} sortie(s) en tout</p>
    <div class="profile-block">
        <table id="agenda">
            {% for event in user_events %}
                {{ event_macro.event_line(event, user, '', false) }}
            {% endfor %}
        </table>
    </div>
    <br style="clear:both" />
    <hr  />

    {% if type is same as ('reduced') and app.user is not same as (user) %}
        <h2 id="user-sorties-communes">Sorties en commun :</h2>
        <p class="mini">{{ nb_common_events }} sortie(s) en commun</p>
        <div class="profile-block">
            <table id="agenda">
                {% for event in common_events %}
                    {{ event_macro.event_line(event, user, '', false) }}
                {% endfor %}
            </table>
        </div>
        <br style="clear:both" />
        <hr  />
    {% endif %}

    <h2 id="user-articles">
        {% if type is same as ('reduced') %}
            Derniers articles :
        {% else %}
            Ses articles :
        {% endif %}
    </h2>
    <p class="mini">{{ nb_articles }} articles en tout</p>
    <div class="profile-block">
        {% for article in user_articles %}
            {{ article_macro.article_link(article) }}
        {% endfor %}
    </div>
    <br style="clear:both" />
{% endmacro %}
