{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% import 'macros/event-line.html.twig' as event_macro %}
    <div class="main-type">
        <h1>{{ title }}</h1>

        {{ easy_include(to_include, '') }}<br>

        <h2>{{ total }} Sortie{% if total > 1 %}s{% endif %} en attente de {{ action}} :</h2>

        {% if total <= 0 %}
            <p class="info">Aucune sortie n'est en attente de {{ action}} pour l'instant.</p>
        {% else %}
            <table id="agenda">
                {% for item in events %}
                    {% if item is iterable %}
                        {% set event = item.0 %}
                    {% else %}
                        {% set event = item %}
                    {% endif %}

                    {{ event_macro.event_line(event, app.user, to_include, false, null, action, false) }}
                {% endfor %}
            </table>
        {% endif %}

        {% if total > per_page %}
            <hr />
            <nav class="pageSelect">
                {% for i in 1..pages %}
                    <a href="{{ page_url }}?page={{ i }}" title="" class="{{ page == i ? 'up' : '' }}">p{{ i }}</a> {{ i < pages ? ' ' : '' }}
                {% endfor %}
            </nav>
        {% endif %}
    </div>
{% endblock %}
