<div id="{{ type }}-collection-widget" class="collection-widget" data-title="#{{ type }}-collection-widget-title" data-list="#{{ type }}-collection-widget-list">
	{% if depenses.vars.label is not empty %}
		<label{% if depenses.vars.required %} class="required"{% endif %}>{{ depenses.vars.label }}</label>
	{% endif %}
	{% set prototype = include('sortie/ndf_depense.html.twig', { depense: depenses.vars.prototype }) %}
	<div class="list collection-widget-list" id="{{ type }}-collection-widget-list"
          data-prototype="{{ prototype|e }}"
          data-widget-tags="{{ '<div class="collection-widget-item"></div>'|e }}">
		{% if depenses is not null and depenses|length > 0 %}
	  		{% for depense in depenses %}
	  			<div class="collection-widget-item" data-item-id="{{ loop.index }}">
	    			{% include 'sortie/ndf_depense.html.twig' with { depense: depense } %}
	    		</div>
	  		{% endfor %}
		{% endif %}
		{% do depenses.setRendered %}
		<div class="add-block">
			<a href="javascript:void(0);" class="add-collection-widget {{ type }}" data-widget="#{{ type }}-collection-widget">
				<i class='add-btn'></i> Ajouter une dépense
				{% if type == 'minibus_club' or type == 'minibus_loc' %}
					de minibus
				{% elseif type == 'voiture' %}
					de voiture
				{% elseif type == 'commun' %}
					de transport en commun
				{% elseif type == 'hebergement' %}
					d'hébergement
				{% elseif type == 'autre' %}
					autre
				{% endif %}
			</a>
		</div>
	</div>
</div>