{% extends 'base.html.twig' %}

{% block title %}{{ event.titre }}{% endblock %}

{% macro user_inscription_button(event, filiations, my_status, nInscritsTotal) %}

    {% if event.joinMax > 0 %}
        {% set style = '' %}
        {% if my_status and not my_status.isCovoiturage %}
            {% set style = 'border:1px solid red; background:rgba(255,153,153,.4);' %}
        {% endif %}
        <div style="text-align:center;">
            <br />
            <a class="biglink" href="javascript:void(0)" onclick="$('#inscription').slideToggle(200)" title="" style="{{ style }}">
            <span class="bleucaf">&gt;</span>
            {% if not my_status %}
                JE SOUHAITE ME PRÉ-INSCRIRE À CETTE SORTIE
            {% elseif my_status.isCovoiturage %}
            {% else %}
            JE METS À JOUR MES PREFERENCES {% if style %}<img src="/img/base/bullet_error.png" title="Mettre à jour les préférences" width="16px">&nbsp;{% endif %}
            {% endif %}

            {% if filiations|length > 0 %}
                <span class="bleucaf">&nbsp; / &nbsp;</span> PRÉ-INSCRIRE DES ADHÉRENTS AFFILIÉS
            {% endif %}
            </a>
        </div>
    {% else %}
        <hr /><div class="alerte">Pas de préinscription par internet</div>
    {% endif %}
{% endmacro %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .event-user-skill {display: none;}
        .inscription-gestion-content .datatable {
            width: 595px;
            overflow: auto;
            margin: 0;
            z-index: 30;
        }
        .toggle-round {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 60px;
            height: 30px;
        }

        .toggle-round input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider-round {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .3s;
            border-radius: 30px;
        }

        .slider-round:before {
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .3s;
            border-radius: 50%;
        }

        input:checked + .slider-round {
            background-color: #35C1DF;
        }

        input:checked + .slider-round:before {
            transform: translateX(30px);
        }
    </style>
{% endblock %}

{% block body %}
    {% import 'macros/cancel_block.html.twig' as block_macros %}
        <div id="fiche-sortie">

            {% set closeDiv = false %}
            {% set nInscritsTotal = event.participations() | length %}

            {% if event.publicStatusUnseen %}
                {% set closeDiv = true %}

                <div class="alerte">
                    <b>Note : Cette sortie n'est pas publiée sur le site</b>.
                    Si vous voyez ce message apparaître, c'est que vous disposez de droits particuliers
                    qui vous autorisent à voir cette page.
                    Les usagers réguliers du site n'ont pas accès aux informations ci-dessous.<br />

                {% if is_granted('SORTIE_VALIDATE', event) %}
                    <div>
                        <form action="{{ path('sortie_validate', { id: event.id }) }}" method="post" class="loading" style="display:inline">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('sortie_validate') }}" />
                            <input type="submit" value="Approuver &amp; publier" class="nice2 green" title="Approuve instantanément la sortie et la publie" />
                        </form>
                        <input type="button" value="Refuser" class="nice2 red" onclick="modal.show($(this).next().html())" title="Refuser cette sortie. Vous devrez ajouter un message au créateur de la sortie." />
                        <div style="display:none" id="refuser-{{ event.id }}">
                            <form action="{{ path('sortie_refus', { id: event.id }) }}" method="post" class="loading">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token('sortie_refus') }}" />
                                <p>Laissez un message à l'organisateur pour lui expliquer la raison du refus :</p>
                                <input type="text" name="msg" class="type1" placeholder="ex: Mauvais point de RDV" />
                                <input type="submit" value="Refuser la sortie" class="nice2 red" />
                                <input type="button" value="Annuler" class="nice2" onclick="$.fancybox.close()" />
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% elseif event.publicStatusRefuse %}
                {% set closeDiv = true %}
                <div class="alerte">
                    <b>Note : Cette sortie a été refusée</b>.
                    Si vous voyez ce message apparaître, c'est que vous disposez de droits particuliers
                    qui vous autorisent à voir cette page. Les usagers réguliers du site n'ont pas accès
                    aux informations ci-dessous.<br /><br />
            {% elseif event.cancelled %}
                {% set closeDiv = true %}
                <div class="erreur">
                    <img src="/img/base/cross.png" alt="" title="" style="float:left; padding:2px 6px 0 0;" />
                    <b>Sortie annulée :</b><br /> Cette sortie a été annulée le {{ event.cancellationDate | date('d/m/Y à H:i') }}

                {% if event.cancelledWho %}
                    , par <a href="{{ path('user_profile', {'id': event.cancelledWho.id, 'id_event': event.id}) }}" class="fancyframe userlink">{{ event.cancelledWho.nickname }}</a>
                {% endif %}
                <br />

                {% if is_granted('SORTIE_UNCANCEL', event) %}
                    <form action="{{ path('sortie_uncancel', { id: event.id }) }}" method="post" class="loading">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('sortie_uncancel') }}" />
                        <input type="submit" value="Réactiver cette sortie" class="nice2 red" title="Réactiver cette sortie" />
                    </form>
                {% endif %}

            {% elseif event.publicStatusValide and (is_granted('SORTIE_UPDATE', event) or is_granted('SORTIE_DELETE', event) or is_granted('SORTIE_CANCEL', event)) %}
                {% set closeDiv = true %}

                <div class="alerte">
                    <b>Note :</b> Cette sortie est approuvée et visible par les adhérents !<br />
            {% endif %}

            {% if is_granted('SORTIE_UPDATE', event) %}
                <a href="{{ path('modifier_sortie', {'event': event.id}) }}" title="Vous êtes l'organisateur de cette sortie ? Cliquez ici pour la modifier." class="nice2 noprint orange">
                    <img src="/img/base/pencil.png" alt="" title="" style="" />&nbsp;&nbsp;Modifier cette sortie
                </a>
            {% endif %}

            {% if is_granted('SORTIE_DELETE', event) %}
                <a class="nice2 noprint red" onclick="modal.show($(this).next().html())" title="Supprimer définitivement cette sortie">
                    <img src="/img/base/x2.png" alt="" title="" style="" />&nbsp;&nbsp;Supprimer cette sortie
                </a>
                <div style="display:none" id="supprimer-{{ event.id }}">
                    <h2>Supprimer définitivement la sortie</h2>
                    <p>
                        Voulez-vous vraiment supprimer définitivement cette sortie ?<br>
                        Cette action supprimera définitivement la sortie et les fichiers liés.<br>
                        <strong>Attention</strong> : vous ne devriez jamais supprimer une sortie qui a été publiée sur le site car la conserver permet d'établir des statistiques, et l'URL de la page dédiée à cette sortie retournera une erreur 404 si des utilisateurs souhaitent y retourner.
                    </p>
                    {% if event.publicStatusValide %}
                        <p class="alerte">Cette sortie est publiée sur le site. En la supprimant, vous créerez une page introuvable.</p>
                    {% else %}
                        <p class="info">Cette sortie n'est pas publiée sur le site. Vous pouvez la supprimer sereinement.</p>
                    {% endif %}
                    <form action="{{ path('delete_event', { id: event.id }) }}" method="post" class="loading">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('delete_event') }}" />
                        <input type="submit" value="Supprimer définitivement cette sortie" class="nice2 noprint red" title="Supprimer définitivement cette sortie" />
                    </form>
                </div>
            {% endif %}

            {% if is_granted('SORTIE_CANCEL', event) %}
                <a class="nice2 noprint red" onclick="modal.show($(this).next().html())" title="Annuler cette sortie">
                    <img src="/img/base/delete.png" alt="" title="" style="" />&nbsp;&nbsp;Annuler cette sortie
                </a>
                <div style="display:none" id="annuler-{{ event.id }}">
                    <h2>Annuler la sortie</h2>
                    <p>
                        Voulez-vous vraiment annuler cette sortie ?
                        {% if event.publicStatusValide %}Celle-ci a déjà été publiée sur le site et des membres y sont inscrits, ils recevront donc automatiquement un e-mail pour les en avertir.{% endif %}
                        Vous devez ajouter un message pour expliquer la raison de l'annulation :
                    </p>
                    <form action="{{ path('cancel_event', { id: event.id }) }}" method="post" class="loading">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('cancel_event') }}" />
                        <textarea class="type2" style="width:100%" name="msg" placeholder="ex : Sortie annulée pour cause de météo défavorable."></textarea>
                        <input type="submit" value="Annuler cette sortie" class="nice2 noprint red" title="Annuler cette sortie" />
                        {% if event.publicStatusValide %}et avertir {{ nInscritsTotal }} participant(s) inscrit(s).{% endif %}
                    </form>
                </div>
            {% endif %}

            {% if closeDiv %}
                </div><br />
            {% endif %}
        {% for article in event.articles %}
        <a style="float:right; font-family:DIN, Arial; font-weight:normal; display:block; padding:5px 20px 0 0;" href="{{ path('article_view', {'code': article.code, 'id': article.id }) }}" title="{{ article.titre }}">
            <span class="bleucaf">></span> Voir le compte rendu de sortie "{{ article.titre }}"
        </a>
        {% endfor %}

        <h1>
            <span class="commission">{{ event.commission.title }}</span>
            <span class="bleucaf">></span> {{ event.titre }}
            {% if event.groupe %}
                <small> ({{ event.groupe.nom }}) </small>
            {% endif %}
            <span class="date"> / {{ event.startDate | intldate('cccc d MMMM yyyy') }}</span>
        </h1>

        {% if event.publicStatusValide and event.hasPaymentForm and event.paymentAmount and event.paymentUrl and current_user_has_paid is same as(false) and current_user_accepted is same as(true) %}
            <div class="hello-asso-payment">
                <h3>💳 Paiement attendu pour cette sortie</h3>
                <div class="hello-asso-notice">
                    <div class="payment-explain">
                        <span class="request">Le règlement de <span class="bold">{{ event.paymentAmount }} €</span> est requis pour valider votre inscription</span><br><br>
                        Paiement sécurisé via HelloAsso par CB
                    </div>
                    <div class="payment-button">
                        <a class="ha-pay-btn btn-white bleu-caf" href="{{ event.paymentUrl }}" target="_blank">Payer maintenant ➞</a><br><br>
                        Paiement 100% sécurisé
                    </div>
                </div>
            </div>
        {% elseif event.publicStatusUnseen and event.hasPaymentForm and event.paymentAmount %}
            <div class="hello-asso-payment">
                💳 Une billetterie HelloAsso de <span class="bold">{{ event.paymentAmount }} €</span> sera créée pour cette sortie si vous l'approuvez et la publiez.
            </div>
        {% endif %}

        <div class="tw-flex tw-gap-4">
            {% if is_granted('SORTIE_DUPLICATE', event) %}
            <form action="{{ path('sortie_duplicate', { id: event.id, mode: 'full' }) }}" method="post" class="loading">
                <input type="hidden" name="csrf_token" value="{{ csrf_token('sortie_duplicate') }}" />

                <a href="javascript:void(0)" onclick="$(this).parents('form').submit()" title="Créer une sortie avec les mêmes participants et les mêmes paramètres" class="nice2">
                    <img src="/img/base/add.png" alt="Dupliquer la sortie avec ce groupe" title="" style="height:20px" />
                    Dupliquer cette sortie avec ce groupe
                </a>
            </form>
                <form action="{{ path('sortie_duplicate', { id: event.id, mode: 'empty' }) }}" method="post" class="loading">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('sortie_duplicate') }}" />

                    <a href="javascript:void(0)" onclick="$(this).parents('form').submit()" title="Créer une sortie avec les mêmes paramètres (sans participant)" class="nice2">
                        <img src="/img/base/add.png" alt="Dupliquer la sortie" title="" style="height:20px" />
                        Dupliquer cette sortie
                    </a>
                </form>
            {% endif %}
        </div>

        {% if app.user and event.user.id == app.user.id and event.isFinished %}
            <a href="{{ path('article_new') }}?compterendu=true&amp;commission_article=-1&amp;evt_article={{ event.id }}" title="Vous êtes l'organisateur de cette sortie ? Rédigez un compte rendu" class="nice2 noprint">
                <img src="/img/base/pencil_add.png" alt="" title="" style="" />
                Compte rendu
            </a><br>
        {% endif %}

        {% if is_granted('FICHE_SORTIE', event) %}
        <a href="{{ path('feuille_sortie', {id: event.id}) }}" title="Ouvrir une nouvelle page avec la fiche complète des participants" class="nice2" target="_blank">
            <img src="/img/base/print.png" alt="PRINT" title="" style="height:20px" />
            Imprimer la fiche de sortie
        </a>
        <a href="{{ path('sortie_pdf', { id: event.id }) }}" title="Imprimer la fiche de sortie en PDF" class="nice2" target="_blank">
            <img src="/img/base/pdf.png" alt="PRINT" title="" style="height:20px" />
            Imprimer la fiche de sortie en PDF
        </a>
        <a class="nice2" href="{{ path('sortie_xlsx', { id: event.id }) }}" title="Exporter la liste des participants en Excel">
            <img src="/img/base/sheet.png" alt="" title="" /> Exporter la liste des participants en Excel
        </a>
        {% endif %}

        {% set my_status = event.participation(app.user) %}

        {% if not event.isFinished %}
            {% if allowed('user_read_limited') %}
                <input id="add-to-calendar" type="button" class="nice2" value="📅 Ajouter à mon agenda" />

                <script>
                const config = {
                    name: "{{ event.titre }}",
                    startDate: "{{ event.startDate | intldate('yyyy-MM-dd') }}",
                    startTime: "{{ event.startDate | date('H:i') }}",
                    endDate: "{{ event.endDate | intldate('yyyy-MM-dd') }}",
                    endTime: "{{ event.endDate | date('H:i') }}",
                    location: "{{ event.rdv }}",
                    options: ['Apple','Google','iCal','Outlook.com','Yahoo','Microsoft365'],
                    timeZone: "Europe/Paris",
                    language: "fr"
                };
                const button = document.getElementById('add-to-calendar');
                if (button) {
                    button.addEventListener('click', () => atcb_action(config, button));
                }
                </script>
            {% else %}
                Vous n'avez pas accès à certaines informations de cette sortie car vous n'êtes pas connecté.
            {% endif %}
        {% endif %}
 
        <br />
        <br />


        {% if my_status and my_status.status == constant('App\\Entity\\EventParticipation::STATUS_NON_CONFIRME') %}
            {% if not event.finished %}
                {% if allowed('evt_unjoin') %}
                    <div class="alerte info-container">
                        <img src="/img/inscrit-standby.png" alt="" title=""/>
                        <div class="text-container">
                            Vous avez demandé à participer à cette sortie, et votre demande est en attente de validation.<br />
                            <div class="button-container">
                                <input type="button" class="nice" value="Annuler ma demande d'inscription" onclick="$('#inscription-annuler').slideToggle(200)" style="margin-top:6px;" />
                            </div>
                        </div>
                    </div>
                    {% include 'components/cancel-participation.html.twig' with {'my_status_id': my_status.id, 'my_status': my_status.status} %}
                {% endif %}
            {% else %}
                <div class="alerte info-container">
                    <img src="/img/inscrit-standby.png" alt="" title=""/>
                    <div class="text-container">
                        Vous avez demandé à participer à cette sortie, mais votre demande est restée en attente.<br />
                    </div>
                </div>
                <br />
            {% endif %}
        {% endif %}

        {% if my_status and my_status.status == constant('App\\Entity\\EventParticipation::STATUS_REFUSE') %}
            <div class="erreur info-container">
                <img src="/img/inscrit-cross.png" alt="" title=""/>
                <div class="text-container">
                    Vous avez demandé à participer à cette sortie, mais l'organisateur a décliné votre demande.
                    N'hésitez pas à le contacter pour en savoir plus.
                </div>
            </div>
            <br />
        {% endif %}

        {% if my_status and my_status.status == constant('App\\Entity\\EventParticipation::STATUS_VALIDE') %}
            {% if my_status.role in (constant('App\\Entity\\EventParticipation::ROLES_ENCADREMENT_ETENDU')) %}
                {% if not event.finished %}
                    {% if allowed('evt_unjoin') and (my_status.role == 'coencadrant' or my_status.role == 'benevole_encadrement') %}
                        {{ block_macros.display_confirmed_cancel_block(my_status.role) }}
                        {% include 'components/cancel-participation.html.twig' with {'my_status_id': my_status.id, 'my_status': my_status.status} %}
                    {% endif %}
                {% else %}
                    <div class="info info-container">
                        <img src="/img/inscrit-encadrant.png" alt="" title=""/>
                        <div class="text-container">
                            Vous avez participé à cette sortie en tant que : {{ my_status.role }}.
                        </div>
                    </div>
                    <br />
                {% endif %}

                {# expense report form #}

                {% if display_notes_de_frais %}
                    {% if event.finished and not event.cancelled and (my_status.role == 'encadrant' or my_status.role == 'coencadrant' or my_status.role == 'stagiaire') %}
                        {% if has_viewable_expense_report %}
                            {# User already has a submitted/approved/accounted expense report, always show it #}
                            {% include 'vuejs/expense-report-form.twig' %}
                        {% elseif not is_event_after_cutoff %}
                            <div class="alerte info-container" style="margin-bottom:2rem !important">
                                <img src="/img/base/cross.png" alt="" title=""/>
                                <div class="text-container">
                                    <b>Note de frais non disponible :</b><br />
                                    Il n'est plus possible de déposer une note de frais pour cette sortie car les comptes du Club pour l'année {{ cutoff_year }} ont été clôturés.<br />
                                    En cas de question, contactez la comptabilité.<br />&nbsp;
                                </div>
                            </div>
                        {% elseif event.statusLegal %}
                            {% include 'vuejs/expense-report-form.twig' %}
                        {% else %}
                            <div class="alerte info-container" style="margin-bottom:2rem !important">
                                <img src="/img/base/cross.png" alt="" title=""/>
                                <div class="text-container">
                                    <b>Note de frais non disponible :</b><br />
                                    Cette sortie n'a pas été validée par le président. Il n'est donc pas possible de soumettre de note de frais.<br />
                                    Si vous pensez qu'il s'agit d'une erreur, contactez votre responsable de commission.<br />&nbsp;
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% if not event.finished %}
                    {% if allowed('evt_unjoin') %}
                        {{ block_macros.display_confirmed_cancel_block('participant') }}
                        {% include 'components/cancel-participation.html.twig' with {'my_status_id': my_status.id, 'my_status': my_status.status} %}
                    {% endif %}
                {% else %}
                    <div class="info info-container">
                        <img src="/img/inscrit-check.png" alt="" title=""/>
                        <div class="text-container">
                            Vous avez participé à cette sortie.
                        </div>
                    </div>
                    <br />
                {% endif %}
            {% endif %}
        {% endif %}

        {% if is_granted('SORTIE_INSCRIPTIONS_MODIFICATION', event) %}
            <link rel="stylesheet" href="/tools/datatables/media/css/jquery.dataTables.sobre.css" type="text/css" media="screen" />
            <script type="text/javascript" src="/tools/datatables/media/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript">

                // jquery
                $(document).ready(function(){

                    var expr = new RegExp('>[ \t\r\n\v\f]*<', 'g');
                    var tbhtml = $('.datatable').html();
                    $('.datatable').html(tbhtml.replace(expr, '><'));

                    // datatables
                    $('.datatable').dataTable( {
                        "aaSorting": [],
                        "iDisplayLength" : -1,
                        "bLengthChange": false,
                        "bFilter": false,
                        "bPaginate": false,
                        "bInfo": false
                        // "aLengthMenu": [[-1],  ["All"]]
                        // "bLengthChange": false
                        // "sDom": 'T<"clear">lfrtip'
                    } );

                    // format de couleur du changement de statut
                    $('.joinlabels input').bind('change', function(){
                        // changment ligne
                        $(this).parents('tr').removeClass('status0 status1 status2 status3 status-1').addClass('status'+$(this).val());

                        // changement des stats
                        var nAcceptees=0;
                        var nRefusees=0;
                        var nAttente=0;
                        $('.joinlabels input:checked[type=radio]').each(function(){
                            if($(this).val()==0) 	nAttente++;
                            if($(this).val()==1) 	nAcceptees++;
                            if($(this).val()==2) 	nRefusees++;

                        });
                        $('#nAcceptees').html(nAcceptees);
                        $('#nRefusees').html(nRefusees);
                        $('#nAttente').html(nAttente);
                    });

                });
            </script>

            <div id="inscription-gestion">
                <div class="inscription-gestion-content">
                    {% if not event.finished %}
                        {{ easy_include('formalites-gestion-des-inscrits', 'vide') }}
                    {% else %}
                        {{ easy_include('formalites-gestion-des-inscrits-evt-passe', 'vide') }}
                    {% endif %}

                    <br />
                    <select id="contact_participants_type" class="type1" style="display:none; min-width: 250px;">
                        <option value="">Sélectionner des destinataires</option>
                        <option value="all">Tout le monde</option>
                        {% if event.finished %}
                            <option value="accepted">Les présents</option>
                        {% else %}
                            <option value="accepted">Les participants acceptés</option>
                        {% endif %}
                        <option value="refused">Les participants refusés</option>
                        <option value="waiting">Les participants en attente</option>
                        {% if event.finished %}
                            <option value="absent">Les absents</option>
                        {% endif %}
                    </select>

                    {% if afficher_competences %}
                    <p>
                        <label>
                            <span class="bold">Vue gestion</span>
                            <label class="toggle-round">
                                <input type="checkbox" name="skill_view" id="skill_view_toggle" role="switch" aria-label="Basculer entre vue gestion et vue compétences" />
                                <span class="slider-round"></span>
                            </label>
                            <span class="bold">Vue compétences</span>
                        </label>
                    </p>

                    <div class="event-user-skill">
                        {{ easy_include('event-skills', '') }}
                    </div>
                    {% endif %}
                </div>

                <form id="contact_update_participants" method="post" class="loading">
                    <input type="hidden" name="csrf_token_inscriptions" value="{{ csrf_token('sortie_update_inscriptions') }}" />
                    <input type="hidden" name="csrf_token_contact" value="{{ csrf_token('contact_participants') }}" />

                    <div class="wide-table-container">
                    <table class="datatable">
                        <thead>
                            <tr>
                                <th class="select-contact"></th>
                                <th>Nom / Pseudo</th>
                                <th class="event-manage-user">Statut</th>
                                <th class="event-manage-user">Rôle</th>
                                <th class="event-manage-user">Date</th>
                                {% if event.hasPaymentForm %}
                                    <th class="event-manage-user">Paiement</th>
                                {% endif %}
                                <th class="event-manage-user">Contact</th>

                                {% if afficher_competences %}
                                {% for groupe in groupes_competences %}
                                    <th class="event-user-skill groupe-comp">
                                        {{ groupe.intitule }}
                                    </th>
                                {% endfor %}
                                {% for niveau in niveaux %}
                                    <th class="event-user-skill niveau-pratique">
                                        {{ niveau.libelle }}
                                    </th>
                                {% endfor %}
                                <th class="event-user-skill formation-generale">STG-UFFG10</th>
                                <th class="event-user-skill formation-generale">STG-PSC1</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for participation in participations %}
                                {% set participation = participation['liste'] %}
                                {% set class = '' %}
                                {% if participation.isStatusEnAttente %}
                                    {% set class = 'waiting' %}
                                {% elseif participation.isStatusValide %}
                                    {% set class = 'accepted' %}
                                {% elseif participation.isStatusRefuse %}
                                    {% set class = 'refused' %}
                                {% elseif participation.isStatusAbsent %}
                                    {% set class = 'absent' %}
                                {% endif %}

                                <tr class="status{{ participation.status }}" style="color:gray; font-size:0.8rem;">
                                    <td class="select-contact">
                                        <input type="checkbox" id="contact_participant_{{ participation.id }}" name="contact_participant[{{ participation.id }}]" value="{{ participation.id }}" class="contact-cb {{ class }}" />
                                    </td>

                                    <td>
                                        {{ participation.user.firstname | capitalize }} {{ participation.user.lastname | upper }}<br/>
                                        <a href="{{ path('user_profile', {'id': participation.user.id, 'id_event': event.id}) }}" class="fancyframe userlink">{{ participation.user.nickname }}</a>

                                        {% if age_user(participation.user) and age_user(participation.user) < 18 %}
                                            <p style="color:red">{{ age_user(participation.user) }} ans</p>
                                        {% endif %}
                                        {% if participation.user.doitRenouveler %}
                                            <p style="color:red">&#9888;&#65039; Licence expirée</p>
                                        {% elseif is_license_valid_for_event(participation.user, event) is same as (false) %}
                                            <p style="color:orange"
                                            {% if participation.user.nomade %}
                                               title="A la date de la sortie, la carte découverte de ce non-adhérent ne sera pas valide">🧐 Carte découverte NOK
                                            {% else %}
                                                title="A la date de la sortie, la licence de cet adhérent sera expirée s'il ne renouvelle pas d'ici là">Licence à renouveler (exp. 30/09)
                                            {% endif %}
                                            </p>
                                        {% elseif participation.user.nomade %}
                                            <p style="color:green" title="A la date de la sortie, la carte découverte de ce non-adhérent sera valide">🧐 Carte découverte OK</p>
                                        {% endif %}
                                    </td>

                                    <td class="mini joinlabels status{{ participation.status }} event-manage-user">

                                    {% set disable_waiting = true %}
                                    {% set disable_accepted = true %}
                                    {% set disable_refused = true %}
                                    {% set disable_absent = true %}
                                    {% set disable_unsubscribe = true %}

                                    {% if app.user is same as (event.user) or allowed('evt_joining_accept', 'commission:' ~ event.commission.code) or allowed('evt_join_doall') %}
                                        {% set disable_waiting = false %}
                                        {% set disable_accepted = false %}
                                        {% set disable_absent = false %}
                                    {% endif %}
                                    {% if app.user is same as (event.user) or allowed('evt_joining_refuse', 'commission:' ~ event.commission.code) or allowed('evt_join_doall') %}
                                        {% set disable_refused = false %}
                                    {% endif %}
                                    {% if app.user is same as (event.user) or allowed('evt_unjoin_notme', 'commission:' ~ event.commission.code) or allowed('evt_join_doall') %}
                                        {% set disable_unsubscribe = false %}
                                    {% endif %}

                                    {% if empietements[participation.user.id] is defined %}
                                        <div class="empietements">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Attention au timing :</b>
                                            {% for empietement in empietements[participation.user.id] %}
                                                {% if empietement.status == constant('App\\Entity\\EventParticipation::STATUS_NON_CONFIRME') %}
                                                    <br />- Adhérent pré-inscrit sur
                                                    <br /><a href="{{ path('sortie', { code : empietement.event.code, id: empietement.event.id }) }}">{{ empietement.event.titre }}</a><br />
                                                {% elseif empietement.status == constant('App\\Entity\\EventParticipation::STATUS_VALIDE') %}
                                                    <br />- Adhérent <span style="color:red">confirmé</span> sur
                                                    <br /><a href="{{ path('sortie', { code : empietement.event.code, id: empietement.event.id }) }}">{{ empietement.event.titre }}</a><br />
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    {% if participation.role != 'encadrant' and participation.role != 'stagiaire' %}
                                        <span style="display:none">{{ participation.status }}</span>
                                        <input type="hidden" name="id_evt_join[]" value="{{ participation.id }}" />

                                        {% if participation.isStatusEnAttente %}
                                            <label for="join_{{ participation.id }}_0">
                                                <input
                                                    checked="checked"
                                                    {{ disable_waiting ? 'disabled="disabled"' : '' }}
                                                    type="radio"
                                                    name="status_evt_join_{{ participation.id }}"
                                                    id="join_{{ participation.id }}_0"
                                                    value="0"
                                                />
                                                En attente
                                            </label>
                                        {% endif %}

                                        {% if event.finished and participation.isStatusValide %}
                                            <label for="join_{{ participation.id }}_1">
                                                <input
                                                    {{ participation.isStatusValide ? 'checked="checked"' : '' }}
                                                    {{ disable_accepted ? 'disabled="disabled"' : '' }}
                                                    type="radio"
                                                    name="status_evt_join_{{ participation.id }}"
                                                    id="join_{{ participation.id }}_1"
                                                    value="1"
                                                />
                                                Présent
                                            </label>
                                        {% elseif not event.finished %}
                                            <label for="join_{{ participation.id }}_1">
                                                <input
                                                    {{ participation.isStatusValide ? 'checked="checked"' : '' }}
                                                    {{ disable_accepted ? 'disabled="disabled"' : '' }}
                                                    type="radio"
                                                    name="status_evt_join_{{ participation.id }}"
                                                    id="join_{{ participation.id }}_1"
                                                    value="1"
                                                />
                                                Accepté
                                            </label>
                                        {% endif %}

                                        {% if event.finished and not participation.isStatusRefuse and not participation.isStatusEnAttente %}
                                            <label for="join_{{ participation.id }}_3">
                                                <input
                                                    {{ participation.isStatusAbsent ? 'checked="checked"' : '' }}
                                                    {{ disable_absent ? 'disabled="disabled"' : '' }}
                                                    type="radio"
                                                    name="status_evt_join_{{ participation.id }}"
                                                    id="join_{{ participation.id }}_3"
                                                    value="3"
                                                />
                                                Absent
                                            </label>
                                        {% endif %}

                                        {% if (event.finished and participation.isStatusRefuse) or not event.finished %}
                                            <label for="join_{{ participation.id }}_2">
                                                <input
                                                    {{ participation.isStatusRefuse ? 'checked="checked"' : '' }}
                                                    {{ disable_refused ? 'disabled="disabled"' : '' }}
                                                    type="radio"
                                                    name="status_evt_join_{{ participation.id }}"
                                                    id="join_{{ participation.id }}_2"
                                                    value="2"
                                                />
                                                Refusé
                                            </label>
                                        {% endif %}

                                        {% if (event.finished and not participation.isStatusRefuse and not participation.isStatusEnAttente) or not event.finished %}
                                            <label for="join_{{ participation.id }}_-1">
                                                <input
                                                    name="status_evt_join_{{ participation.id }}"
                                                    {{ disable_unsubscribe ? 'disabled="disabled"' : '' }}
                                                    type="radio"
                                                    id="join_{{ participation.id }}_-1"
                                                    value="-1"
                                                />
                                                Désinscrire
                                            </label>
                                        {% endif %}


                                    {% endif %}

                                    </td>

                                    <td class="mini event-manage-user">
                                        {% if participation.user.nomade %}
                                            {{ participation | participation_role_name }}<br />
                                            {% if not participation.user.email %}
                                                <img
                                                    src="/img/base/bullet_error.png"
                                                    alt="!"
                                                    title="Attention. Ne reçoit pas d'e-mail"
                                                    style="vertical-align:top"
                                                />
                                            {% endif %}
                                            <br />
                                        {% elseif participation.isRoleManuel or participation.isRoleInscrit or participation.isBenevole %}
                                            {% if participation.isRoleManuel %}
                                                <label style="display:block; white-space:nowrap;" for="role_join_{{ participation.id }}_m">
                                                    <input
                                                        checked="checked"
                                                        name="role_evt_join_{{ participation.id }}"
                                                        type="radio"
                                                        id="role_join_{{ participation.id }}_m"
                                                        value="manuel"
                                                    />
                                                    Participant
                                                </label>
                                            {% else %}
                                                <label style="display:block; white-space:nowrap;" for="role_join_{{ participation.id }}_i">
                                                    <input
                                                        {% if participation.isRoleInscrit %}checked="checked"{% endif%}
                                                        name="role_evt_join_{{ participation.id }}"
                                                        type="radio"
                                                        id="role_join_{{ participation.id }}_i"
                                                        value="inscrit"
                                                    />
                                                    Participant
                                                </label>
                                            {% endif %}
                                            <label style="display:block; white-space:nowrap;" for="role_join_{{ participation.id }}_b">
                                                <input
                                                    {% if participation.isBenevole %}checked="checked"{% endif%}
                                                    name="role_evt_join_{{ participation.id }}"
                                                    type="radio"
                                                    id="role_join_{{ participation.id }}_b"
                                                    value="benevole"
                                                />
                                                Participant<br />bénévole
                                            </label>
                                        {% else %}
                                            {{ participation | participation_role_name }}<br />
                                        {% endif %}
                                        {% if participation.user is same as event.user %}
                                            (organisateur)
                                        {% endif %}

                                    </td>

                                    <td class="event-manage-user" style="white-space:nowrap">
                                        <span style="display:none">{{ participation.createdAt.timestamp }}</span>
                                        {{ participation.createdAt | date('d/m') }}<br />
                                        {{ participation.createdAt | date('à H:i') }}
                                    </td>

                                    {% if event.hasPaymentForm %}
                                        <td class="event-manage-user">
                                            {% if participation.hasPaid or participation.user.email in unrecognized_payers %}
                                                <span class="tw-inline-flex tw-items-center tw-gap-1 tw-text-xs tw-font-medium tw-text-green-600 tw-whitespace-nowrap">
                                                    <svg class="tw-w-3 tw-h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                                    </svg>
                                                    Payé
                                                </span>
                                            {% else %}
                                                <span class="tw-inline-flex tw-items-center tw-gap-1 tw-text-xs tw-font-medium tw-text-red-600 tw-whitespace-nowrap">
                                                    <svg class="tw-w-3 tw-h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                                                    </svg>
                                                    Non payé
                                                </span>
                                            {% endif %}
                                            <br>
                                            HelloAsso
                                        </td>
                                    {% endif %}

                                    <td class="event-manage-user">
                                        {% if participation.user.isDeleted %}
                                            <span style="color: red; font-weight: bold">
                                                <img
                                                        src="/img/base/bullet_error.png"
                                                        alt="!"
                                                        style="vertical-align:top"
                                                />
                                                compte supprimé
                                            </span><br />
                                        {% else %}
                                            {% if participation.user.email %}
                                                <a href="mailto:{{ participation.user.email }}">{{ participation.user.email | u.truncate(12, '...') }}</a><br />
                                            {% else %}
                                                <span style="color: darkorange;" title="Ce compte ne peut pas recevoir les e-mails">aucun e-mail renseigné</span><br />
                                            {% endif %}
                                            {{ participation.user.tel }}
                                        {% endif %}
                                    </td>

                                    {% if afficher_competences %}
                                    {% for groupe in groupes_competences %}
                                        <td class="event-user-skill">
                                            {{ date_competence_user(participation.user, groupe, current_commission) }}
                                        </td>
                                    {% endfor %}
                                    {% for niveau in niveaux %}
                                        <td class="event-user-skill">
                                            {{ date_niveau_user(participation.user, niveau, current_commission) }}
                                        </td>
                                    {% endfor %}
                                    <td class="event-user-skill">{{ date_formation_user(participation.user, 'STG-UFFG10') }}</td>
                                    <td class="event-user-skill">{{ date_formation_user(participation.user, 'STG-PSC1') }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <br>

                <div class="inscription-gestion-content">
                    <!-- stats affichées -->
                    <p>Stats :</p>
                    {% set nbDemandesAcceptees = (event.participations(null, constant('App\\Entity\\EventParticipation::STATUS_VALIDE')) | length) + (event.participations(null, constant('App\\Entity\\EventParticipation::STATUS_ABSENT')) | length) %}
                    <ul>
                        <li>
                            <b id="nDemandes">{{ event.participations(null, null) | length }}</b> demande(s), dont
                            <b id="nAcceptees">{{ nbDemandesAcceptees }}</b> acceptée(s) et
                            <b id="nRefusees">{{ event.participations(null, constant('App\\Entity\\EventParticipation::STATUS_REFUSE')) | length }}</b> refusée(s)
                        </li>
                        {% if (event.participations(null, constant('App\\Entity\\EventParticipation::STATUS_NON_CONFIRME')) | length > 0) %}
                            <li>
                                <b id="nAttente">{{ event.participations(null, constant('App\\Entity\\EventParticipation::STATUS_NON_CONFIRME')) | length }}</b> resté(s) en attente
                            </li>
                        {% endif %}
                        <li>
                            <b id="nAbsents">{{ event.participations(null, constant('App\\Entity\\EventParticipation::STATUS_ABSENT')) | length }}</b> absent(s)
                        </li>
                    </ul>

                    <br style="clear:both"  />

                    {% if is_granted('SORTIE_INSCRIPTIONS_MODIFICATION', event) %}
                        <div style="text-align:center">
                            <button id="submit_update_participants" type="submit" style="cursor: pointer; border: none;" class="biglink" title="Enregistrer" formaction="{{ path('sortie_update_inscription', { id: event.id })}}">
                                <span class="bleucaf">&gt;</span>
                                ENREGISTRER LES STATUTS CI-DESSUS
                            </button>
                        </div>
                    {% elseif event.participation(app.user) %}
                        <p class="mini">{{ event.participation(app.user) | participation_status_name }} : Vous ne pouvez pas modifier les inscriptions</p>
                    {% endif %}
                    <br />
                <hr />

                {% if unrecognized_payers|length > 0 %}
                    <h3>Payeurs non reconnus :</h3>
                    <table style="width: 100%">
                        {% for payer in unrecognized_payers %}
                            <tr>
                                <td>{{ payer.email }}</td>
                                <td>{{ payer.firstname }}</td>
                                <td>{{ payer.lastname }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br><br>
                    <hr />
                {% endif %}

                {% if is_granted('SORTIE_INSCRIPTIONS_MODIFICATION', event) %}
                    <h2 id="autresoptions">Autres options :</h2>

                    {% if is_granted('SORTIE_CONTACT_PARTICIPANTS', event) %}
                    <!-- Contact par email des participants (orga uniquement) -->
                    <a class="nice2 blue" href="javascript:void(0)" onclick="$('#contact-inscrits').slideToggle();$('.select-contact').toggle();$('#contact_participants_type').toggle();">
                        <img src="/img/base/email.png" alt="" title="" /> Envoyer un e-mail groupé
                    </a>
                    <br />

                    <div id="contact-inscrits" style="display: none; border : 1px solid #eaeaea; box-shadow:0 0 20px -10px gray; padding:10px; margin:10px 0 0 0; border-radius:10px">
                        <h2>Formulaire de contact</h2>

                        <div class="italic">
                            <br>
                            Sélectionnez les destinataires dans le tableau ci-dessus, en cochant les cases correspondantes en début de ligne.
                        </div>

                        <br />
                        <label for="objet">Objet :</label><br />
                        <input id="contact_subject" type="text" name="objet" class="type1" style="width:95%" value="Note importante pour la sortie du {{ event.startDate | date('d/m') }}" /><br />
                        <br />

                        <label>Répondre à ?</label><br />
                        <input type="radio" name="reply_to_option" id="reply_to_option_me_only" value="me_only" />
                        <label for="reply_to_option_me_only"> Uniquement moi</label><br />

                        <input type="radio" name="reply_to_option" id="reply_to_option_everyone" value="everyone" />
                        <label for="reply_to_option_everyone"> Tous les encadrants et co-encadrants déclarés</label><br />
                        <br />

                        <label for="message">Message :</label><br />
                        <textarea id="contact_message" name="message" class="type1" style="width:95%; height:150px"></textarea>

                        <br /><br />
                        <input id="submit_contact_participants" type="submit" class="nice" value="&gt; Envoyer mon message" onclick="$.fancybox.close()" formaction="{{ path('contact_participants', { id: event.id }) }}" />
                    </div>
                    {% endif %}

                    {% if allowed('user_see_all') or allowed('evt_join_notme') or allowed('evt_join_doall') or is_granted('EVENT_NOMAD_JOINING_ADD', event) %}
                        {% if not event.publicStatusUnseen %}
                            <a class="nice2 blue fancyframe" href="{{ path('event_manual_add_select', {event: event.id}) }}" title="">
                                Inscrire manuellement des adhérents du club
                            </a>

                            {% if is_granted('EVENT_NOMAD_JOINING_ADD', event) %}
                                <a class="nice2 blue fancyframe" href="{{ path('event_nomad_add', {event: event.id}) }}" title="">
                                    Inscrire un non-adhérent
                                </a>
                            {% endif %}
                        {% else %}
                        <i>Vous pourrez ajouter des participants quand la sortie sera approuvée</i>
                        {% endif %}
                    {% endif %}
                {% endif %}
            <br style="clear:both"  />
        </div>
            </form>
        </div>

        <br />
        <hr />
        {% endif %}

        {% if event.massif or event.place or event.itineraire %}
            <ul class="nice-list">
                {% if event.massif %}
                    <li class="wide"><b>MASSIF :</b> {{ event.massif }}</li>
                {% endif %}
                {% if event.place %}
                    <li class="wide"><b>LIEU DÉPART ACTIVITÉ :</b> {{ event.place }}</li>
                {% endif %}
                {% if event.itineraire %}
                    <li class="wide"><b>ITINÉRAIRE DE L'ACTIVITÉ :</b> {{ event.itineraire }}</li>
                {% endif %}
            </ul>
            <br style="clear:both" />
            <hr />
        {% endif %}

        {% if event.denivele or event.distance or event.difficulte or event.matos %}
            <ul class="nice-list">
                {% if event.denivele %}
                    <li class="wide"><b>DÉNIVELÉ :</b> {{ event.denivele }} m</li>
                {% endif %}
                {% if event.distance %}
                    <li class="wide"><b>DISTANCE :</b> {{ event.distance }} km</li>
                {% endif %}
                {% if event.difficulte %}
                    <li class="wide"><b>DIFFICULTÉ :</b> {{ event.difficulte }}</li>
                {% endif %}
                {% if event.matos %}
                    <li class="wide"><b>MATÉRIEL :</b> {{ event.matos | converturls | nl2br }}</li>
                {% endif %}
            </ul>
            <br style="clear:both" />
            <hr />
        {% endif %}

        {# Bloc détails cachés #}
        {% if event.detailsCaches %}
            <ul class="nice-list">
                <li class="wide"><b>DÉTAILS PRATIQUES :</b><br />
                    {% if allowed('user_read_limited') %}
                        {{ event.detailsCaches | converturls | nl2br }}
                    {% else %}
                        Détails de la sortie visibles après connexion
                    {% endif %}
                </li>
            </ul>
            <br style="clear:both" />
            <hr />
        {% endif %}

        {% if not event.cancelled %}
            <ul class="nice-list">
                <li class="wide"><b>DESCRIPTION COMPLÈTE :</b></li>
            </ul>
            <div class="description_evt">{{ event.description|sanitize_html('app.content_sanitizer') }}</div>
            <hr style="clear:both" />

            {% if (event.tarif > 0 or event.tarifDetail) %}
                <ul class="nice-list">
                    {% if allowed('user_read_limited') %}
                        {% if event.tarif %}
                            <li class="wide"><b>TARIF :</b> {{ event.tarif }} Euros</li>
                        {% endif %}
                        {% if event.tarifDetail %}
                            <li class="wide"><b>DÉTAILS DES FRAIS :</b><br /> {{ event.tarifDetail | converturls | nl2br }}</li>
                        {% endif %}
                    {% else %}
                        {% if event.tarif %}
                            <li class="wide"><b>TARIF :</b> visible après connexion</li>
                        {% endif %}
                        {% if event.tarifDetail %}
                            <li class="wide"><b>DÉTAILS DES FRAIS :</b> visible après connexion</li>
                        {% endif %}
                    {% endif %}
                </ul>
                <br style="clear:both" />
                <hr />
            {% endif %}

            <ul class="nice-list">
                <li class="wide">
                    <b>DÉPART :</b> Le {{ event.startDate | intldate('cccc d MMMM') }} {% if allowed('user_read_limited') %}{{ event.startDate|date('H:i') }}{% endif %}
                </li>
                <li class="wide">
                    <b>RETOUR :</b> Le {{ event.endDate | intldate('cccc d MMMM') }} {% if allowed('user_read_limited') %}{{ event.endDate|date('H:i') }} (heure estimée){% endif %}
                </li>
            </ul>

            {% if allowed('user_read_limited') %}
                <ul class="nice-list">
                    <li class="wide"><b>RDV :</b> {% if event.rdv is not same as ('') %}{{ event.rdv }}{% else %}Voir sur la carte ci-dessous{% endif %}</li>
                    <li class="wide align-top"><b>S'Y RENDRE :</b></li>
                </ul>
                <div class="gps-apps">
                    <a href="https://geovelo.app/fr/route/?c={{ geovelo_encoded_coord }}&to={{ geovelo_encoded_coord }}&z=15" target="_blank" title="S'y rendre avec GeoVélo"><img src="/img/gps/geovelo.png" height="50" alt="GeoVélo" /></a>
{#                    <a href="https://citymapper.com/directions?endcoord={{ encoded_coord }}" target="_blank" title="S'y rendre avec CityMapper"><img src="/img/gps/citymapper.png" height="50" alt="CityMapper" /></a>#}
                    <a href="https://maps.google.com/maps?q={{ event.lat|replace({',':'.'}) }},{{ event.long|replace({',':'.'}) }}" target="_blank" title="S'y rendre avec Google Maps"><img src="/img/gps/maps.png" height="50" alt="Google Maps" /></a>
                    <a href="https://www.waze.com/fr/live-map/directions/?latlng={{ event.lat|replace({',':'.'}) }},{{ event.long|replace({',':'.'}) }}" target="_blank" title="S'y rendre avec Waze"><img src="/img/gps/waze.png" height="50" alt="Waze"/></a>
                </div>

                <ul class="nice-list">
                    <li class="wide"><b>POINT DE RENDEZ-VOUS SUR LA CARTE :</b> </li>
                </ul>
                <div style="clear:both"></div>
                <div id="map-fichesortie"></div>
                <script>
                    $(function() {
                        var zoom = 16;
                        var lat = {{ event.lat|replace({',':'.'}) }};
                        var lon = {{ event.long|replace({',':'.'}) }};
                        var mymap = L.map('map-fichesortie').setView([lat, lon], zoom);
                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {foo: 'bar', attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'}).addTo(mymap);
                        var marker = L.marker([lat, lon]).addTo(mymap);
                    })
                </script>
            {% else %}
                <ul class="nice-list">
                    <li class="wide"><b>RDV :</b> lieu et heures visibles après connexion</li>
                </ul>
            {% endif %}
            <hr />
        {% endif %}

        <ul class="nice-list">
            <li class="wide">
                <b>SORTIE PROPOSÉE PAR :</b>
                <a href="{{ path('user_profile', {'id': event.user.id, 'id_event': event.id}) }}" class="fancyframe userlink">
                    {{ event.user.nickname }}
                </a>
                <span class="mini">
                - le {{ event.createdAt | date('d/m/y') }}{% if event.updatedAt %}, modifiée le {{ event.updatedAt | date('d/m/y à H:i') }} {% endif %}
            </span>
            </li>

            {% if event.publicStatusValide and (is_granted('SORTIE_UPDATE', event) or is_granted('SORTIE_DELETE', event) or is_granted('SORTIE_CANCEL', event)) %}
            <li class="wide">
                <b>SORTIE APPROUVÉE PAR :</b>
                {% if event.status is same as (constant('App\\Entity\\Evt::STATUS_PUBLISHED_VALIDE')) and event.statusWho %}
                    <a href="{{ path('user_profile', {'id': event.statusWho.id, 'id_event': event.id}) }}" class="fancyframe userlink">
                        {{ event.statusWho.nickname }}
                    </a>
                {% else %}
                    <span class="mini">non approuvée</span>
                {% endif %}
            </li>
            {% endif %}

            <br style="clear:both" />

            {% if event.needBenevoles and not event.cancelled %}
                {{ easy_include('alerte-benevoles', 'alerte-benevoles') }}
            {% endif %}

        </ul>
        <br style="clear:both" />
        {% if not event.hasStarted and event | is_legal_validable  %}
            {{ easy_include('status-legal-' ~ event.statusLegal, 'status-legal') }}
            <br />

            {% if is_granted('SORTIE_LEGAL_VALIDATION', event) %}
                <div class="status-legal noprint">
                    <h2>Validation de la sortie :</h2>
                    <p>
                        Pour valider cette sortie en tant que sortie officielle du CAF,
                        ou refuser d'associer cette sortie au {{ sitename }},
                        cliquez sur un des boutons ci-dessous.
                    </p>
                    <p>
                        <b>Attention !</b> Cette opération est définitive !
                    </p>

                    <form action="{{ path('sortie_legal_refus', { id: event.id }) }}" method="post" class="loading" style="display:inline">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('sortie_legal_refus') }}" />
                        <input type="submit" class="nice2 red" value="Refuser la validation" />
                    </form>
                    <form action="{{ path('sortie_legal_validate', { id: event.id }) }}" method="post" class="loading" style="display:inline">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('sortie_legal_validate') }}" />
                        <input type="submit" class="nice2 green" value="Valider" />
                    </form>

                    <br />&nbsp;
                </div>
                <br />
            {% endif %}
        {% endif %}

        {% if not event.cancelled %}
            {% set nPlacesRestantesOnline = max(0, event.joinMax - nInscritsTotal) %}
            {% set nEnAttente = event.participations(null, constant('App\\Entity\\EventParticipation::STATUS_NON_CONFIRME')) | length %}

            <hr />
            <ul class="nice-list">
                <li class="wide"><b>NOMBRE MAXIMUM DE PLACES :</b> {{ event.ngensMax }}</li>
                <li class="wide"><b>DISPONIBLES VIA INTERNET :</b> {{ nPlacesRestantesOnline }}</li>
            </ul>

            <br style="clear:both" /><hr />

            <p>
                <span title="{{ event | temoin_event_title }}" style="padding: 10px 10px 5px 5px;float:left;">
                    <span class="temoin-places-dispos"> {{ event | temoin_event_picto }}</span>
                </span>
                <span style="font-size: 0.9rem; font-family:DINBold; color:#666666">
                    {{ nInscritsTotal }} PARTICIPANT{{ nInscritsTotal > 1 ? 'S' : '' }} INSCRIT{{ nInscritsTotal > 1 ? 'S' : '' }}
                    SUR  {{ event.ngensMax }} PLACE{{ event.ngensMax ? 'S' : '' }} MAXIMUM
                    ({{ event.ngensMax > 0 ? (100 * nInscritsTotal / event.ngensMax) | round : 0 }}%)
                </span><br />
                {{ nEnAttente > 0 ? nEnAttente~' inscription'~ (nEnAttente > 1 ? 's' : '' ) ~' en attente de confirmation' : '' }}
            </p>

            {% if app.user and nInscritsTotal > 0 and not is_granted('MODIFICATION_SORTIE', event) %}
                <table class="big-lines-table" style="margin:0 20px;">

                    {% for participation in accepted_participations %}
                        {% set inscrit = participation['liste'] %}
                        <tr>
                        <td>
                            {% if allowed('user_read_private', event.commission.code) %}
                                <p class="mini">{{ inscrit.user.firstname|capitalize }} {{ inscrit.user.lastname|upper }}</p>
                            {% endif %}
                            <a href="{{ path('user_profile', {'id': inscrit.user.id, 'id_event': event.id}) }}" class="fancyframe userlink">{{ inscrit.user.nickname }}</a>
                        </td>
                        <td class="small">
                            {% if inscrit.role not in (constant('App\\Entity\\EventParticipation::ROLES_SIMPLES')) %}
                                {{ inscrit.role|trans }}
                            {% endif %}
                        </td>
                        <td class="small">
                            {% if allowed('user_read_private', event.commission.code) %}
                                {{ inscrit.user.tel }}
                            {% endif %}
                        <td class="small">
                            {% if allowed('user_read_private', event.commission.code) %}
                                {{ inscrit.user.tel2 }}
                            {% endif %}
                        </td>
                        <td class="small">
                            {% if allowed('user_read_private', event.commission.code) %}
                                {{ inscrit.user.email }}
                            {% endif %}
                        </td>
                        <td class="small">
                            {% if allowed('user_read_limited', event.commission.code) and inscrit.isCovoiturage %}
                                <img src="/img/voiture.png" title="Covoiturage" width="16px">
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}

                </table>
            {% endif %}

            {# si utilisateur est inscrit, il a accès #}
            {% if nPlacesRestantesOnline > 0 or event.participation(app.user) %}

                {% if allowed('evt_join') %}

                    {% if not app.user.doitRenouveler %}
                        {% if not event.hasStarted %}
                            {% if event.joinHasStarted %}
                                {% if is_granted('JOIN_SORTIE', event) %}
                                    {{ _self.user_inscription_button(event, filiations, my_status, nInscritsTotal) }}

                                    <div id="inscription" style="display:none">

                                    {{ easy_include('formalites-inscription', 'formalites') }}

                                    <form id="join_sortie" action="{{ path('join_event', {id: event.id}) }}" method="post" class="loading">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token('join_event') }}" />

                                        <div class="check-nice ">
                                            <p>
                                                <label style="width:100%;clear:both;overflow:hidden;">
                                                    <input id="confirm_conditions" type="checkbox" name="confirm" /> J'ai lu les conditions d'usage ci-dessus et confirme ma demande d'inscription.
                                                </label>
                                            </p>
                                            <hr class="clear">

                                            {% if event.needBenevoles and not my_status %}
                                                <p>
                                                    <label style="width:100%;clear:both;overflow:hidden;">
                                                        <input type="checkbox" name="jeveuxetrebenevole" /> Cochez cette case si vous souhaitez rejoindre la sortie en tant que <b>bénévole</b>.
                                                    </label>
                                                </p>
                                            {% endif %}

                                            {% if filiations | length %}
                                                <hr class="clear" />
                                                {{ easy_include('inscrire-filiation-select') }}

                                                <input type="hidden" name="filiations" value="on" />
                                                <br />
                                                <label for="filiation_id_user_{{ app.user.id }}" style="width:100%;clear:both;overflow:hidden;">
                                                    <input
                                                        type="checkbox"
                                                        checked="checked"
                                                        class="custom"
                                                        name="id_user_filiation[]"
                                                        value="{{ app.user.id }}"
                                                        id="filiation_id_user_{{ app.user.id }}" />
                                                    Moi-même (<a href="{{ path('user_profile', {'id': app.user.id, 'id_event': event.id}) }}" class="fancyframe userlink">{{ app.user.nickname }}</a>)
                                                </label>
                                                <br />
                                                {% for filiation in filiations %}
                                                    <br />
                                                    <label for="filiation_id_user_{{ filiation.id }}" style="width:100%;clear:both;overflow:hidden;">
                                                        <input
                                                            type="checkbox"
                                                            onclick="$('#paiement_enfant_{{ filiation.id }}').slideToggle(200)"
                                                            class="custom"
                                                            name="id_user_filiation[]"
                                                            value="{{ filiation.id }}"
                                                            id="filiation_id_user_{{ filiation.id }}" />
                                                        {{ filiation.lastname }}, {{ filiation.firstname }} ({{ filiation.id }}, {{ filiation.nickname }})
                                                    </label>
                                                {% endfor %}
                                                <hr class="clear" />
                                            {% endif %}
                                        </div>

                                        <p style="text-align:center">
                                            <label for="message">Ajouter un message à votre demande (facultatif) :</label><br>
                                            <textarea id="message" name="message" placeholder="Par exemple :
- J'ai tel niveau et telle expérience
- J'ai une voiture avec 4 places dispos
- Je n'ai pas de crampons, ce n'est pas mentionné, est-ce critique ?" class="type1" style="width:50%; height:100px"></textarea>
                                        </p>

                                        <p style="text-align:center">
                                            <a class="biglink" href="javascript:void(0)" title="Enregistrer" onclick="$(this).parents('form').submit()">
                                                <span class="bleucaf">&gt;</span>
                                                {% if not my_status %}
                                                    ENVOYER MA DEMANDE D'INSCRIPTION
                                                {% else %}
                                                    METTRE A JOUR MES PREFERENCES
                                                {% endif %}
                                            </a>
                                        </p>
                                    </form>
                                    <script>
                                        $(function () {
                                            $('#join_sortie').on('submit', function (event) {
                                                event.preventDefault();
                                                var $this = $(this);

                                                if ($('#confirm_conditions').prop('checked')) {
                                                    $(this).unbind('submit').submit();
                                                } else {
                                                    alert('Vous devez accepter les conditions d\'usage pour vous inscrire.');
                                                    return false;
                                                }
                                            })
                                        })
                                    </script>

                                </div>
                                {% endif %}
                            {% else %}
                                <hr />
                                <h2>Inscriptions :</h2>
                                <p>Les demandes d'inscription pour cette sortie commenceront le {{ event.joinStartDate | date('d/m/Y à H:i') }}</p>
                            {% endif %}
                        {% else %}
                            {{ easy_include('info-inscription-passee', 'vide') }}
                        {% endif %}
                    {% else %}
                        {{ easy_include('info-inscription-licence-obsolete', 'vide') }}
                    {% endif %}
                {% else %}
                    {{ easy_include('info-inscription-non-connecte', 'vide') }}
                {% endif %}

            {% else %}
                <p>Le nombre de places disponibles à la réservation depuis internet est atteint.</p>
            {% endif %}
        {% endif %}
    </div>
    <br style="clear:both" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" type="text/css"  media="screen" />
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // champs obligatoires selon le form validé
            const btn1 = document.getElementById('submit_update_participants');
            const btn2 = document.getElementById('submit_contact_participants');

            const contact_subject = document.getElementById('contact_subject');
            const contact_message = document.getElementById('contact_message');
            const contact_reply_to = document.querySelector('input[name="reply_to_option"]');

            btn1.addEventListener('click', () => {
                contact_subject.required = false;
                contact_message.required = false;
                contact_reply_to.required = false;
            });

            btn2.addEventListener('click', (event) => {
                contact_subject.required = true;
                contact_message.required = true;
                contact_reply_to.required = true;

                // au moins un destinataire sélectionné
                const selectedCheckboxes = document.querySelectorAll('.contact-cb:checked');
                if (selectedCheckboxes.length <= 0) {
                    alert('Veuillez sélectionner des destinataires pour votre e-mail groupé dans le tableau');
                    event.preventDefault();

                    return false;
                }
            });

            {% if afficher_competences %}
            // vue compétences & brevets OU gestion
            const toggle = document.getElementById('skill_view_toggle');
            toggle.addEventListener('change', (event) => {
                let elementsToHide = document.querySelectorAll('.event-user-skill');
                let elementsToShow = document.querySelectorAll('.event-manage-user');
                if (toggle.checked) {
                    elementsToHide = document.querySelectorAll('.event-manage-user');
                    elementsToShow = document.querySelectorAll('.event-user-skill');
                }

                elementsToHide.forEach(el => {
                    el.style.display = 'none';
                });
                elementsToShow.forEach(el => {
                    if (el.tagName === 'TD' || el.tagName === 'TH') {
                        el.style.display = 'table-cell';
                    } else {
                        el.style.display = '';
                    }
                });

                event.preventDefault();

                return false;
            });
            {% endif %}

            // sélection automatique de certains participants
            const checkboxes = document.querySelectorAll('.contact-cb');
            const select = document.getElementById('contact_participants_type');

            select.addEventListener('change', () => {
                // reset la sélection actuelle
                checkboxes.forEach(checkbox => checkbox.checked = false);

                // appliquer la sélection choisie
                const selectedOption = select.options[select.selectedIndex].value;
                if (undefined !== selectedOption && selectedOption !== '') {
                    const selectedCheckboxes = document.querySelectorAll('.' + selectedOption);
                    selectedCheckboxes.forEach(checkbox => checkbox.checked = true);
                    if ('all' === selectedOption) {
                        checkboxes.forEach(checkbox => checkbox.checked = true);
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block og_markup %}
    <meta property="og:title" content="{{ event.titre }}" />
    <meta property="og:description" content="{{ event.description|striptags|slice(0, 200) ~ '...' }}" />
{% endblock %}
