{% extends 'base.html.twig' %}

{% block title %}Mot de passe perdu{% endblock %}

{% block body %}
<div style="margin:0 auto; padding:100px 10px;min-height:100%; max-width: 400px;">
     <section class="text-center login-password-group">

        {% if password_reset %}
            <h1>Ré-initialisation du mot de passe en cours</h1>
            <div class="text-left">
                <p>
                    Un e-mail vient de vous être envoyé à <b>{{ username }}</b>.
                </p>
                <p>
                    Cliquez sur le lien contenu dans celui-ci pour définir votre nouveau mot de passe.
                </p>
            </div>
            <div class="hint">
                <p>
                    Vous n'avez pas reçu l'e-mail ? Si votre adresse e-mail n'est pas celle attachée à votre compte,
                    c'est normal, nous n'envoyons d'e-mail que si nous connaissons le compte.
                    <a href="{{ path('session_password_lost') }}">Essayez une autre adresse e-mail</a>
                </p>
            </div>
        {% else %}
            <h1>Alors comme ça, vous avez perdu votre mot de passe ?</h1>
            <p>
                Nous n'y avons pas accès nous-même, donc nous ne pouvons pas vous l'envoyer. Par contre vous pouvez le ré-initialiser :<br/>
                Entrez ci-dessous votre adresse e-mail. Vous recevrez un courrier avec un lien sur lequel cliquer pour créer ou ré-initialiser votre mot de passe.
            </p>
            {{ form(form) }}
        {% endif %}
        </section>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('form[name=reset_password]').on('submit', function (event) {
                event.preventDefault();
                var $this = $(this);
                if (!window.grecaptcha) {
                    throw new Error('Recaptcha has been disabled on this browser');
                }

                window.grecaptcha.ready(function () {
                    window.grecaptcha.execute('{{ recaptcha.site_key }}', { action: 'resetPassword' }).then(function (token) {
                        $('#reset_password_recaptcha').val(token);
                        $this.unbind('submit').submit();
                    });
                });
            })
        })
    </script>
{% endblock %}
