{% extends 'base.html.twig' %}

{% block title %}Mot de passe perdu{% endblock %}

{% block body %}
<div style="margin:0 auto; padding:30px;min-height:100%;">
     <section class="text-center login-password-group">

        {% if password_reset %}
            <h1>Ré-initialisation du mot de passe en cours</h1>
            <div class="text-left">
                <p>
                    Un e-mail vient de vous être envoyé à <b>{{ username }}</b>.
                </p>
                <p>
                    Cliquez sur le lien contenu dans celui-ci pour définir votre nouveau mot de passe.
                </p>
            </div>
            <div class="hint">
                {{ easy_include('password-lost-confirm', '')}}
            </div>
        {% else %}
            <h1>(Ré-)initialiser mon mot de passe</h1>
            {{ easy_include('password-lost-intro', '')}}

            {{ form(form) }}
        {% endif %}
        </section>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('form[name=reset_password]').on('submit', function (event) {
                event.preventDefault();
                var $this = $(this);
                if (!window.grecaptcha) {
                    throw new Error('Recaptcha has been disabled on this browser');
                }

                window.grecaptcha.ready(function () {
                    window.grecaptcha.execute('{{ recaptcha.site_key }}', { action: 'resetPassword' }).then(function (token) {
                        $('#reset_password_recaptcha').val(token);
                        $this.unbind('submit').submit();
                    });
                });
            })
        })
    </script>
{% endblock %}
