{% extends 'base-wide.html.twig' %}

{% block title %}Brevets & formations du staff de {{ commission.title }}{% endblock %}

{% block body %}
    {% if afficher_competences %}
    <h2>Brevets, niveaux de pratique & formations du staff de {{ commission.title }}</h2>
    {{ easy_include('commission-staff-skills', '')}}

    <p class="bold">Légende :</p>
    <div class="brevet">Brevets</div>
    <div class="niveau-pratique">Niveaux de pratique</div>
    <div class="formation">Formations</div>
    <div class="formation-generale">Formations générales</div>

    <div class="wide-table-container high-table-container">
        <table class="wide-table table-striped">
            <thead>
                <tr>
                    <th>Nom du membre de la commission</th>
                    <th>Responsabilité</th>
                    {% for brevet in brevets %}
                        <th class="brevet">
                            {{ intitule_brevet(brevet) }}
                        </th>
                    {% endfor %}
                    {% for niveau in niveaux %}
                        <th class="niveau-pratique">
                            {{ niveau.libelle }}
                        </th>
                    {% endfor %}
                    {% for formation in formations %}
                        <th class="formation">
                            {{ intitule_formation(formation) }}
                        </th>
                    {% endfor %}
                    <th class="formation-generale">UFCA</th>
                    <th class="formation-generale">PSC1</th>
                </tr>
                <tr class="subhead">
                    <td>Code brevet / formation</td>
                    <td></td>
                    {% for brevet in brevets %}
                        <td>
                            {{ brevet }}
                        </td>
                    {% endfor %}
                    {% for niveau in niveaux %}
                        <td>
                        </td>
                    {% endfor %}
                    {% for formation in formations %}
                        <td>
                            {{ formation }}
                        </td>
                    {% endfor %}
                    <td>STG-UFFG10</td>
                    <td>STG-PSC1</td>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td title="{{ user.role }}">
                        <a href="{{ path('user_profile', {'id': user.user.id}) }}" class="fancyframe userlink">
                            {{ user.user.fullname }}
                        </a>
                    </td>
                    <td>{{ user.role }}</td>
                    {% for brevet in brevets %}
                        <td>
                            {{ date_brevet_user(user.user, brevet) }}
                        </td>
                    {% endfor %}
                    {% for niveau in niveaux %}
                        <td>
                            {{ date_niveau_user(user.user, niveau) }}
                        </td>
                    {% endfor %}
                    {% for formation in formations %}
                        <td>
                            {{ date_formation_user(user.user, formation) }}
                        </td>
                    {% endfor %}
                    <td>{{ date_formation_user(user.user, 'STG-UFFG10') }}</td>
                    <td>{{ date_formation_user(user.user, 'STG-PSC1') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
