{% extends 'base.html.twig' %}

{% block title %}Liste de mes commissions{% endblock %}

{% block body %}
<div id="left1">
    <div class="main-type">
        <h1>Liste de mes commissions</h1>
        <table class="table-striped">
            {% for commission in commissions %}
                <tr>
                    <td>
                        {{ commission.title }}
                    </td>
                    {% if allowed('commission_config') %}
                        <td>
                            <a href="{{ path('commission_configuration', {'id': commission.id}) }}" title="Configurer les champs obligatoires pour {{ commission.title }}">
                                ⚙️ Configurer
                            </a>
                        </td>
                    {% endif %}
                    <td>
                        {% if commission.hasBrevets or commission.hasFormations or commission.hasNiveaux %}
                            <a href="{{ path('commission_brevet', {'id': commission.id}) }}" title="Voir les brevets & formations du staff de {{ commission.title }}">
                                🎓 Brevets
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
