{% extends 'base.html.twig' %}

{% block title %}
    {% if article.id %}Modifier cet article{% else %}Nouvel article{% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .title-header {
            margin-top: 20px;
            margin-bottom: 15px;
        }
        .mini {
            font-size: 0.9em;
            color: #666;
        }
        .erreur {
            color: red;
            padding: 10px;
            background-color: #ffeeee;
            border-radius: 5px;
            margin-bottom: 15px;
        }
        .info {
            color: green;
            padding: 10px;
            background-color: #eeffee;
            border-radius: 5px;
            margin-bottom: 15px;
        }
        .alerte {
            color: #856404;
            padding: 10px;
            background-color: #fff3cd;
            border-radius: 5px;
            margin-bottom: 15px;
        }
        .vich-image img {
            max-width: 100%;
            height: auto;
        }
        .bleucaf {
            color: #0066cc;
        }
        .biglink {
            display: inline-block;
            padding: 10px 20px;
            background-color: #f5f5f5;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            color: #333;
            border: 1px solid #ddd;
        }

    </style>
{% endblock %}


{% block body %}
    <!-- MAIN -->
    <h1 class="page-h1">{% if article.id %}<b>Modifier</b> cet article{% else %}Nouvel <b>article</b>{% endif %}</h1>

    <div style="padding:10px 0 0 30px; line-height:18px; ">
        {% if not allowed('article_create') %}
            <p class="erreur">Vous n'avez pas l'autorisation d'accéder à cette page car vous ne semblez pas avoir les droits de rédaction.</p>
        {% else %}
            {% if article.id and article.status == 1 %}
                <p class="alerte">Attention : si vous modifiez cet article, il devra à nouveau être validé par un responsable avant d'être publié sur le site !</p>
            {% endif %}

            {{ form_start(form, {'attr': {'action': article.id ? path('article_edit', {'id': article.id}) : path('article_new'), 'method': 'post'}}) }}
                {% if errors is defined and errors|length > 0 %}
                    <div class="erreur">
                        Erreur :
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% for message in app.flashes('success') %}
                    <p class="info">
                        <img src="/img/base/tick.png" alt="" title="" /> 
                        {{ message }} à {{ "now"|date('H:i:s') }}. 
                        <b>Important :</b> cet article doit à présent être validé par un responsable pour être publié sur le site.
                        <a href="{{ path('profile_articles') }}" title="">&gt; Retourner à la liste de mes articles</a>
                    </p>
                {% endfor %}

                <h2 class="title-header">Informations principales :</h2>
                <div>
                    <!-- liste des commissions où poster l'article -->
                    Type d'article :<br />
                    {{ form_widget(form.articleType, {'attr': {'class': 'type1', 'style': 'width:95%', 'minlength': '3', 'maxlength': '200'}}) }}
                    <br />
                    <br />

                    {{ form_widget(form.isCompteRendu, {'attr': {'style': 'display:none;'}}) }}

                    Lier cet article à une sortie :<br />
                    <p id="id-sortie-obligatoire-trigger" class="mini">
                        Champ obligatoire pour un compte rendu de sortie, facultatif dans les autres cas.
                    </p>
                    {{ form_widget(form.evt, {'attr': {'class': 'type1', 'style': 'width:95%'}}) }}
                    <br />
                    <br />

                    Titre :<br />
                    {{ form_widget(form.titre, {'attr': {'style': 'width:94%;', 'class': 'type1'}}) }}
                    <br />
                    <br />

                    {{ form_widget(form.une, {'attr': {'class': 'custom'}}) }}
                    Placer cet article à la Une ?
                    <p class="mini" style="padding-right:20px;">
                        <b>À utiliser avec parcimonie.</b> Ceci place l'article au sommet de la page d'accueil, dans les actualités défilantes.
                        Il reste affiché là jusqu'à ce qu'un autre article à la Une vienne l'en déloger. Utile pour une actualité qui dure dans le temps,
                        ou une alerte à mettre en valeur. La photo est alors obligatoire.
                    </p>
                    <br />
                </div>

                <h2 class="title-header">Photo :</h2>
                <div style="width:95%">
                    Envoyez une photo horizontale pour illustrer cet article. Format .jpg, 5Mo maximum !
                    <p class="mini">
                        Une seule photo par article, chaque image envoyée remplace la précédente.
                    </p>
                    <br />

                    <div class="tw-flex tw-gap-2">

                        {% include 'components/file_upload.html.twig' with {
                            id: 'cover-image',
                            width: 'tw-w-64',
                            height: 'tw-h-32',
                            uploadUrl: '/upload-image',
                            currentImageUrl: article.mediaUpload ? vich_uploader_asset(article.mediaUpload, 'file') : null,
                            currentImageAlt: article.titre,
                            mediaIdInputId: form.mediaUploadId.vars.id,
                            maxFileSize: 5,
                            accept: 'image/*',
                            uploadText: 'Cliquer pour envoyer une photo'
                        } %}
                        <div class="tw-px-2">
                            <p>L'image est redimensionnée dans les proportions indiquées ci-contre. Prenez soin de choisir des photographies horizontales, et jamais de textes ni de logos qui seraient tronqués de façon inesthétique.</p>
                            <p>Vous pourrez ajouter toutes sortes d'images dans le corps de l'article plus bas</p>
                        </div>
                    
                        {{ form_row(form.mediaUploadId) }}
                    </div>
                    
                    <br style="clear:both" />
                </div>

            <div class="alerte info-container" style="width: 90%;">
                ⚠️
                <div class="text-container">
                    <div>
                        <label for="{{ form.imagesAuthorized.vars.id }}">
                            {{ form_widget(form.imagesAuthorized) }}
                            {{ form_label(form.imagesAuthorized) }}
                        </label>
                        <br><br>
                        {{ form_help(form.imagesAuthorized) }}
                    </div>
                    <br><br>
                    <div>
                        <label for="{{ form.agreeEdito.vars.id }}">
                            {{ form_widget(form.agreeEdito) }}
                            {{ form_label(form.agreeEdito) }}
                        </label>
                        <br>
                        {{ form_help(form.agreeEdito) }}
                    </div>
                </div>
            </div>

                <h2 class="title-header">Contenu :</h2>
                <div style="width:95%">
                    <div style="position:relative; right:0px; ">
                        {{ form_widget(form.cont) }}
                    </div>

                    <br />
                </div>

                <div style="width:95%">
                    <div style="text-align:center">
                        {{ form_widget(form.articleDraftSave) }}
                        {{ form_widget(form.articleSave) }}
                    </div>
                </div>
            {{ form_end(form) }}
            
            <br /><br />
            <br /><br />
        {% endif %}
    </div>
{% endblock %} 

{% block javascripts %}
    {{ parent() }}
    <script src="/js/faux-select.js"></script>
    {{ vite_entry_script_tags('ckeditor') }}
    <script src="/js/jquery.webkitresize.min.js"></script>
    <script src="/js/file-upload-component.js"></script>
    <script>
        // champ contenu pas obligatoire en js
        document.addEventListener('DOMContentLoaded', function() {
            const contentField = document.getElementById('{{ form.cont.vars.id }}');
            if (contentField) {
                contentField.removeAttribute('required');
            }
        });
    </script>
{% endblock %}
