{% extends 'base-light.html.twig' %}

{% block title %}Inscrire manuellement des participants à la sortie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #includer-stuff {float: none; width: 95%}
        table.datatables {width: 100%}
        tr{			cursor:pointer;	color:gray; background-image:url(img/label-down.png) top left;	}
        tr.up{		color:black; text-shadow: -1px 0 0px white; outline:1px solid silver;	}
        tr:hover{	outline:1px solid silver;	}
        tr input{	display:none;	}
        tr .tick{	display:none;	}
        tr .cross{	display:block;	}
        tr.up .tick{	display:block;	}
        tr.up .cross{	display:none;	}
    </style>
    <link rel="stylesheet" href="/tools/datatables/media/css/jquery.dataTables.css" type="text/css" media="screen" />
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.datatables').dataTable({
                processing: true,
                serverSide: true,
                ajax: '{{ path('users_data', {'page': 'manual-add', 'show': show}) }}',
                columns: [
                    { data: 'check' },
                    { data: 'cafnum' },
                    { data: 'lastname' },
                    { data: 'firstname' },
                    { data: 'nickname' },
                    { data: 'renew' },
                    { data: 'age' },
                    { data: 'email_info' },
                ],
                createdRow: function(row, data, dataIndex) {
                    $(row).attr('id', 'tr-' + data.id);
                    $(row).addClass('vis-on');
                },
                columnDefs: [
                    {
                        targets: 0,
                        createdCell: function(td, cellData, rowData, row, col) {
                            $(td)
                                .attr('style', 'white-space:nowrap;')
                            ;
                        }
                    }
                ],
                language: {
                    processing:     "Chargement en cours...",
                    search:         "Rechercher&nbsp;:&nbsp;",
                    lengthMenu:     "Afficher _MENU_ adhérents par page",
                    info:           "Affichage de _START_ à _END_ sur _TOTAL_ adhérents",
                    infoEmpty:      "Affichage de 0 à 0 sur 0 adhérent",
                    infoFiltered:   "(filtré de _MAX_ adhérents au total)",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords:    "Aucun adhérent à afficher",
                    emptyTable:     "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first:      "Premier",
                        previous:   "Précédent",
                        next:       "Suivant",
                        last:       "Dernier"
                    },
                    aria: {
                        sortAscending:  ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                },
                pageLength: 100,
                "iDisplayLength": 100,
                "aaSorting": [
                    [2, "asc"],
                    [3, "asc"]
                ],
            });

            $(document).on('click', 'tr', function(){
                const checkbox = $(this).find('input[type=checkbox]');
                checkbox.attr('checked', !checkbox.attr('checked'));
                if(checkbox.attr('checked'))	$(this).find('input[type=hidden]').removeAttr('disabled');
                else							$(this).find('input[type=hidden]').attr('disabled', 'disabled');
                $(this).toggleClass('up');
                return false;
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div id="includer-stuff">
        <h1>Inscrire manuellement des participants à cette sortie</h1>

        <p>
            <a href="{{ path('event_manual_add_select', {event: event.id, show: 'allvalid'}) }}"
               class="boutonFancy"
               {% if show is same as ('allvalid') %}style="background:#d3d6ff"{% endif %}>
            ✔️ Adhérents club (lic. valide)
            </a>&nbsp;

            <a href="{{ path('event_manual_add_select', {event: event.id, 'show': 'discovery'}) }}"
                class="boutonFancy"
                {% if show is same as ('discovery') %}style="background:#d3d6ff"{% endif %}>
            🧐 Cartes découverte
            </a>&nbsp;

            <a href="{{ path('event_manual_add_select', {event: event.id, 'show': 'nomade'}) }}"
                class="boutonFancy"
                {% if show is same as ('nomade') %}style="background:#d3d6ff"{% endif %}>
            🌍 Adhérents autres clubs
            </a>&nbsp;

            <a href="{{ path('event_manual_add_select', {event: event.id, 'show': 'external'}) }}"
                class="boutonFancy"
                {% if show is same as ('external') %}style="background:#d3d6ff"{% endif %}>
            ✍️ Personnes externes
            </a>&nbsp;

            <a href="{{ path('event_manual_add_select', {event: event.id, show: 'all'}) }}"
               class="boutonFancy"
               {% if show is same as ('all') %}style="background:#d3d6ff"{% endif %}>
            📋 Tous
            </a>
        </p>
        <br />

        <form action="{{ path('event_manual_add', {event: event.id}) }}" method="post" enctype="multipart/form-data" class="loading">
            <input type="hidden" name="csrf_token" value="{{ csrf_token('event_manual_add') }}" />
            <table class="datatables">
                <thead>
                <tr>
                    <th></th>
                    <th>n° licence FFCAM / Infos</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Pseudo</th>
                    <th>Date{% if show is same as ('discovery') %}s de validité{% else %} d'adhésion{% endif %}</th>
                    <th>Âge</th>
                    <th>E-mail renseigné ?</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br style="clear:both" />
            <br />
            <a class="biglink" href="javascript:void(0)" title="Enregistrer" onclick="$(this).parents('form').submit()">
                <span class="bleucaf">&gt;</span>
                Étape suivante : attribuer les rôles
            </a>
        </form>
    </div>
{% endblock %}
